alembic
click
dnspython
dominate
email-validator
Flask
Flask-Bootstrap
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
hashids
idna
itsdangerous
Jinja2
Mako
MarkupSafe
SQLAlchemy
typing_extensions
visitor
Werkzeug==2.3.0
WTForms
matplotlib==3.8.1
pandas