alembic
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
dnspython
dominate
email-validator
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-QRcode
Flask-SQLAlchemy
Flask-WTF
fonttools
gunicorn
hashids
idna
itsdangerous
Jinja2
kiwisolver
Mako
MarkupSafe
matplotlib
mypy-extensions
numpy
packaging
pandas
pathspec
pillow
platformdirs
pyparsing
pypng
python-dateutil
pytz
qrcode
requests
six
SQLAlchemy
tomli
typing_extensions
tzdata
urllib3
visitor
Werkzeug
WTForms
psycopg2-binary