.btn {
    background-color: #086ed4 !important;
    color: #ffffff !important;
    font-size: .8rem;
  }

.dashdiv{
    background: #e0dcdc;
}



.rows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
  }
  