.btn {
    background-color: #086ed4 !important;
    color: #ffffff !important;
    font-size: .8rem;
  }

.dashdiv{
    background: #e0dcdc;
}



.rows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    width: 100%;
  }
  
.stylethis{
    background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(147, 142, 142, 0.37);
}

.stylethis2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* media query */
@media screen and (max-width: 768px){
  

    .stylethis{
        width: 21rem !important;
        margin: auto;
        border: 1px solid red;
    }

    .rows{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
}