body {
    background: url('../boy.jpg');
    background-size: cover;
}

.form-control.p-3.mt-4 {
    background: none !important;
    /* semi-transparent white */
    border: 1px solid white !important;
    color: white !important;
}

.form-control.p-3.mt-4:focus {
    outline: white !important;
}

.form-control.p-3.mt-4::placeholder {
    color: white !important;
}
  
/* .form-control.p-3.mt-4:-webkit-autofill,
.form-control.p-3.mt-4:-webkit-autofill:hover, 
.form-control.p-3.mt-4:-webkit-autofill:focus, 
.form-control.p-3.mt-4:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
    background: none !important;
} */


/* Target autofill for all major browsers */
/* Chrome and Safari */
.form-control.p-3.mt-4:-webkit-autofill,
.form-control.p-3.mt-4:-webkit-autofill:hover, 
.form-control.p-3.mt-4:-webkit-autofill:focus, 
.form-control.p-3.mt-4:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
    background: none !important;
}

/* Firefox */
.form-control.p-3.mt-4:-moz-autofill {
    /* Customize the styles for Firefox autofill */
    /* For example, you can change the background color */
    background: none !important; /* Change this to the color you want */
    /* Add other styles as needed */
}

/* Microsoft Edge */
@supports (-ms-ime-align:auto) {
    .form-control.p-3.mt-4:-ms-input-placeholder {
        /* Customize the styles for Microsoft Edge autofill */
        /* For example, you can change the background color */
        background: none !important; /* Change this to the color you want */
        /* Add other styles as needed */
    }
}
