body {
    background: url('../boy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    padding-bottom: 10px;
    background-attachment: fixed;
}

nav{
    background: none !important;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105vh;
    background: url('../boy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Apply the filter to the background image */
    filter: brightness(55%) contrast(120%) sepia(20%);
    z-index: -1;
    /* Send the pseudo-element to the background */
}


.form-control.p-3.mt-4 {
    background: rgba(255, 255, 255, 0.2) !important;
    /* semi-transparent white */
    border: none !important;
    color: white !important;
}

.form-control.p-3.mt-4:focus {
    outline: white !important;
}

.form-control.p-3.mt-4::placeholder {
    color: rgba(255, 255, 255, 0.676) !important;
}


.mybtn {
    background: palevioletred !important;
    border: none !important;
    color: white !important;
    font-size: 18px !important;
    border-radius: 10px !important;
}


/* .form-control.p-3.mt-4:-webkit-autofill,
.form-control.p-3.mt-4:-webkit-autofill:hover, 
.form-control.p-3.mt-4:-webkit-autofill:focus, 
.form-control.p-3.mt-4:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
    background: none !important;
} */


/* Target autofill for all major browsers */
/* Chrome and Safari */
.form-control.p-3.mt-4:-webkit-autofill,
.form-control.p-3.mt-4:-webkit-autofill:hover,
.form-control.p-3.mt-4:-webkit-autofill:focus,
.form-control.p-3.mt-4:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
    background: none !important;
}

/* Firefox */
.form-control.p-3.mt-4:-moz-autofill {
    /* Customize the styles for Firefox autofill */
    /* For example, you can change the background color */
    background: none !important;
    /* Change this to the color you want */
    /* Add other styles as needed */
}

/* Microsoft Edge */
@supports (-ms-ime-align:auto) {
    .form-control.p-3.mt-4:-ms-input-placeholder {
        /* Customize the styles for Microsoft Edge autofill */
        /* For example, you can change the background color */
        background: none !important;
        /* Change this to the color you want */
        /* Add other styles as needed */
    }
}