@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


* {
    font-family: "Poppins", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
}

body {
  /* background: url('nat2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed; */
  /* height: fit-content; */
  /* min-height: 1050px; */
  background-color: white !important;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  /* padding-bottom: 20px; */
}

nav{
  background: black !important;
}

nav ul li a:hover{
  color: rgb(84, 178, 209) !important;
  transition: 0.5s ease;
}



.col-md-4.p-3.card{
  max-width: 400px;
}

.row{
  gap: 10px;
  width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  justify-content: center;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('nat2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Apply the filter to the background image */
  /* filter: brightness(35%) contrast(120%) sepia(20%);
  z-index: -1; */
  /* Send the pseudo-element to the background */
/* } */ */


.my-btn{
  background-color: rgb(84, 178, 209) !important;
  color: #ffffff !important;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px !important;
  border: none !important;
}


.hero-section {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
  }

  .cta-section {
    /* text-align: right; */
    padding: 20px 0;
  }

  .cta-section h1 {
    text-transform: uppercase;
  }

  .features {
    background-color: #fefbd859;
    text-align: center;
    padding: 100px 0;
    /* color: #ffffff !important; */
  }

  .features-section {
    text-align: center;
    padding: 100px 0;
  }


  .jumbotron {
    background-color: rgba(240, 255, 255, 2.298);
    /* color: #000000; */
    padding: 80px 0;
    text-align: center;
    /* color: #ffffff !important; */
    border-radius: 10px !important;
  }
  .jumbotron h1 {
    font-size: 60px;
  }
  .jumbotron p {
    font-size: 20px;
  }
  /* .container {
    max-width: 800px;
    margin: 0 auto;
  } */
  .btn {
    background-color: #1e248c;
    color: #ffffff !important;
    font-size: 16px;
    /* padding: 10px 20px; */
  }

  #auth_btn1 {
    border-radius: 8px !important;
    color: #1e248c !important;
  }

  #auth_btn1:hover {
    background-color: #575ba0 !important;
    color: #ffffff !important;
  }

#auth_btn2 {
  border-radius: 8px !important;
}

  #auth_btn2:hover {
    background-color: #575ba0;
    color: #ffffff !important;
    border: 1px solid #575ba0;
  }

  /* .nav-border {
    border-radius: 10px !important;
    } */

  /* body{
    background: #373636;
  } */


  /* footer */

footer{
  background: #38373c;
  /* margin-top: 7rem; */
}

.footer-div{
  width: 90%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* display: flex;
  justify-content: space-between; */
}


/* .footer-brand img{
  filter: grayscale(100%) brightness(10);
  width: 3rem;
} */

.footer-brand{
  display: flex;
  align-items: center;
}

.footer-brand span{
  font-size: .7rem;
  margin-left: .3rem;
  font-weight: 700;
}

.divclass{
  margin-right: 5rem;
}

.mydiv{
  /* border: 1px solid red; */
  width: 14rem;
}



/* section 8 */

.review{
  margin-top: 6rem;
}

.firstreview img{
  width: 25%;
}

.firstreview{
  display: flex;
  align-items: center;
}

.firstreview div{
  padding: 1rem 0 0 .8rem;
}

.reviewstars{
  font-size: .8rem;
}


.pad_this{
  padding: 0 1.5rem;
}


.fa-star{
  font-size: 8px !important;
}