.hamburger, .haburger{
    display: none !important;
}

.side_fold{
    width: 22rem; 
    position: fixed; 
    top: 0; 
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: left 0.5s ease; /* You can adjust the duration and easing function */
}

.side_link {
  font-size: 1.7rem;
}

/* media query for small screens */
@media screen and (max-width: 768px){
    .hamburger, .haburger{
        display: block !important;
        cursor: pointer;
        z-index: 999;
    }

    .side_fold{
        left: -22rem;
    }

    .active {
        left: 0 !important;
        transition: left 0.5s ease; /* You can adjust the duration and easing function */
    }

    .main{
        margin-left: 0 !important;
    }
}