/* import poppins font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    font-family: "Montserrat", sans-serif !important;
}

.hamburger, .haburger{
    display: none !important;
}

.side_fold{
    width: 17rem; 
    position: fixed; 
    top: 0; 
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: left 0.5s ease; /* You can adjust the duration and easing function */
}

.side_link {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.hoth:hover{
    background: rgb(36, 64, 177) !important;
}

/* media query for small screens */
@media screen and (max-width: 768px){
    .hamburger, .haburger{
        display: block !important;
        cursor: pointer;
        z-index: 999;
    }

    .side_fold{
        left: -22rem;
    }

    .active {
        left: 0 !important;
        transition: left 0.5s ease; /* You can adjust the duration and easing function */
    }

    .main{
        margin-left: 0 !important;
    }
}