{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div style='
background: linear-gradient(
  135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(20px); max-width: 500px;
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
' class='p-2 mb-3 m-auto'>
<h3 class="title text-center">Welcome, {{name}}!</h3>

<p class=" text-center">
Your brand url: 
  <a href="/{{current_user.brand_name}}" class='text-muted fw-bold'>{{ brand_url }}</a>
</p>
</div>

<!--    <button class="show-modal"> Add Button</button>-->

<!--       <div class="modal">-->
<!--       <button class="close-modal">&times;</button>-->
<div class="boxx p-4 m-auto" style='max-width: 500px;
background: linear-gradient(
  135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(20px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
'>

<h4 class="title text-center mb-4">Add Your Brands Links</h4>

  <!--{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }} -->

  <form method="POST">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.product(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.linkname(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.twitter_link(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.facebook_link(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.amazon_link(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.youtube_link(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-success border bg-success p-2", style='font-size: 1rem') }}
</form>

</div>

<div class="overlay hidden"></div>

<!--{% for post in all_posts %}
{% if post.author_name == current_user.name%}

<h2 class="post-title">
  <p>
    <a href=" {{post.twitter_link}}" target="_blank"> {{ post.linkname }} </a
    >(Clicks)
  </p>
</h2>

{% endif %}
{% endfor %}

{% for post in all_posts %}
{% if post.author_name == current_user.name%}
<h3 class="title">
  <a href="{{ url_for('user_blp.profile', sub_path=post.author_name) }}" target="_blank"
    >Share Your Brands</a
  >
</h3>
{% endif %}
{% endfor %} -->
{% endblock content %}
