{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div style='
background: linear-gradient(
  135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
); max-width: 500px;
' class='p-2 mb-3 m-auto bg-success text-white'>
<h3 class="title text-center">Welcome, {{name}}!</h3>

<p class=" text-center">
Your brand url: 
  <a href="/{{current_user.brand_name}}" class='text-light fw-bold'>{{ brand_url }}</a>
</p>
</div>

<!--    <button class="show-modal"> Add Button</button>-->

<!--       <div class="modal">-->
<!--       <button class="close-modal">&times;</button>-->
<div class="boxx p-4 m-auto" style='max-width: 500px;
background: linear-gradient(
  135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(20px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
'>

<h4 class="title text-center text-muted mb-4">Add Your Brands Links</h4>

  <!--{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }} -->

  <form method="POST">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.product(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.linkname(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.twitter_link(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.facebook_link(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.amazon_link(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.youtube_link(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-success border bg-success p-2", style='font-size: 1rem') }}
</form>

</div>

<div class="overlay hidden"></div>

<!--{% for post in all_posts %}
{% if post.author_name == current_user.name%}

<h2 class="post-title">
  <p>
    <a href=" {{post.twitter_link}}" target="_blank"> {{ post.linkname }} </a
    >(Clicks)
  </p>
</h2>

{% endif %}
{% endfor %}

{% for post in all_posts %}
{% if post.author_name == current_user.name%}
<h3 class="title">
  <a href="{{ url_for('user_blp.profile', sub_path=post.author_name) }}" target="_blank"
    >Share Your Brands</a
  >
</h3>
{% endif %}
{% endfor %} -->
<div class="containerr mt-5 m-auto" style="max-width: 500px;">
  {%if all_posts%}
  {% for post in all_posts|reverse %}
  <span style="display: none" id="{{post.id}}">
    {{host_url}}{{brandie.lower()}}/{{post.linkname}}
  </span>
  <div class='card p-3 mt-4' style="background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(147, 142, 142, 0.37);">
      <div class="d-flex justify-content-center">
      <a class='h3 mb-5 mt-3 text-muted fw-bold text-decoration-none text-center' href='{{url_for('user_blp.product', brandname=brandie.lower(), linkname=post.linkname)}}'>{{ post.linkname.upper() }}
      </a>
      <!-- <i class="fa fa-copy ms-3 h6 mt-4 text-muted h-100" id="copyme{{post.id}}" style="cursor: pointer;"></i> -->
      </div>
      <div style='display: flex; justify-content: space-evenly;'>
          {%if post.twitter_link%}
          <a href='{{post.twitter_link}}' target='_blank'>
              <i class="fa-brands fa-twitter h1 text-info"></i>
          </a>
          {%endif%}
          {%if post.amazon_link%}
          <a href='{{post.amazon_link}}' target='_blank'>
              <i class="fa-brands fa-amazon h1 text-warning"></i>
          </a>
          {%endif%}
          {%if post.facebook_link%}
          <a href='{{post.facebook_link}}' target='_blank'>
              <i class="fa-brands fa-facebook h1"></i>
          </a>
          {%endif%}
          {%if post.youtube_link%}
          <a href='{{post.youtube_link}}' target='_blank'>
              <i class="fa-brands fa-youtube h1 text-danger"></i>
          </a>
          {%endif%}
      </div> <hr>
      <p class="position-relative text-muted rounded p-1 fw-bold mt-2 m-auto d-flex justify-content-around align-item-center" style="width: fit-content;">
        <!-- <i class="fa fa-hand-pointer h3"></i> -->
        <!-- <i class="fa-solid fa-hand-pointer h5">clicks</i> -->
        <span class="ms-4">Clicks</span>
        <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: .7rem;
        margin-left: -25px;
        ">
          {{post.clicks}}
          <span class="visually-hidden">Clicks</span>
        </span>
        <a href="/delete/{{post.linkname}}">
          <i class="fa fa-trash-alt text-danger ms-5"></i>
        </a>
      <i class="fa fa-copy ms-5 h6 text-muted h-100" id="copyme{{post.id}}" style="cursor: pointer;"></i>
      </p>
  </div>
  {% endfor %}
  {%endif%}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const copyIcons = document.querySelectorAll(".fa-copy");

    copyIcons.forEach((icon) => {
      icon.addEventListener("click", function () {
        const postId = icon.id.replace("copyme", "");
        const linkSpan = document.getElementById(postId);

        if (linkSpan) {
          const textArea = document.createElement("textarea");
          textArea.value = linkSpan.innerText;
          document.body.appendChild(textArea);
          textArea.select();
          document.execCommand("copy");
          document.body.removeChild(textArea);

          // Optionally, you can display a notification or a tooltip to indicate successful copy
          alert("Link copied to clipboard!");
        }
      });
    });
  });
</script>


{% endblock content %}
