{% extends 'base2.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock head %}

{% block car %}
<div class="container background-gray-10 mt-3">
<main style="margin-top: 8px">
  <div class="container pt-4">
    <div class="dashdiv">
      <div class="d-flex flex-row">
        <div class="p-2">
          <!-- Create New Button -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock car %}

{% block content %}
<style>
    body {
      background-color: #f8f9fa;
    }
    .admin-dashboard {
      padding: 20px;
    }
    .card {
      margin-bottom: 20px;
    }
</style>


   <!-- Date picker -->
              <h3 class="mt-5 ms-3"><b>Analytics</b></h3>
    <p class="ms-3"><i><b>Showing data for all links and QR Codes</b></i></p>
    <hr>
              <div class="details ms-3 mt-3 mb-0">
            <div class="filters">
                <div class="btn-group date-filter"> <a class="btn " data-toggle="dropdown" href="#">
                    <i class="bi bi-calendar px-2"></i> Date Range : Last 7 days
                    <span class="caret"></span>
                </a>

                    <ul class="dropdown-menu">
                        <li><a href="#">Last 7 days</a>
                        </li>
                        <li><a href="#">Last 14 days</a>
                        </li>
                        <li><a href="#">Last 30 days</a>
                        </li>
                        <li><a href="#">Last 60 days</a>
                        </li>
                        <li><a href="#" class="show-custom-range">Custom Range</a>
                        </li>
                        <li class="custom-range-box">
                            <div class="custom-range">
                                <div class="start-date">
                                    <label>From</label>
                                    <div class="input-append date datepicker" data-date="02-2012" data-date-format="mm-yyyy">
                                        <input type="text" class="input-small"> <span class="add-on"><i class="icon-calendar"></i></span>

                                    </div>
                                </div>
                                <div class="end-date">
                                    <label>To</label>
                                    <div class="input-append date datepicker" data-date="02-2012" data-date-format="mm-yyyy">
                                        <input type="text" class="input-small"> <span class="add-on"><i class="icon-calendar"></i></span>

                                    </div>
                                </div>
                                <button class="btn">Go</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      <!-- End of date picker -->


<div class="container admin-dashboard mt-2">
  <div class="row">

      <!-- Statistics Cards -->

      <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-warning">
          <h5 class="card-title">URL Shorteners</h5>
          <p class="card-text fw-bold">{{ url_shorts_generated }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Bio Pages</h5>
          <p class="card-text fw-bold">{{ bio_pages_generated }}</p>
        </div>
      </div>
    </div>

      <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-warning">
          <h5 class="card-title">QR Codes</h5>
          <p class="card-text fw-bold">{{ qr_code_generated }}</p>
        </div>
      </div>
    </div>


       <!-- Statistics Cards -->

    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-dark text-white">

          <h5 class="card-title">URL Shortener Clicks</h5>
          <p class="card-text fw-bold">{{ url_short_clicks }} </p>



        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card border-0">
        <div class="card-body bg-warning">
          <h5 class="card-title">Bio Page Clicks</h5>
          <p class="card-text fw-bold">{{ bio_page_clicks }}</p>
        </div>
      </div>
    </div>

      <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Total QR Code Clicks</h5>
          <p class="card-text fw-bold">{{ qr_code_clicks }}</p>
        </div>
      </div>
    </div>

    <!-- Charts -->
    <div class="col-md-6 mt-4">
      <div class="card border-0">
        <div class="card-body bg-warning">
          <h5 class="card-title">QR Code Clicks Chart</h5>
          <canvas id="qrCodeClicksChart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Bio Page Clicks Chart</h5>
          <canvas id="bioPageClicksChart"></canvas>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">URL Shortener Clicks Chart</h5>
          <canvas id="urlShortClicksChart"></canvas>
        </div>
      </div>
    </div> -->

    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">URL Shortener Clicks Chart</h5>
          <canvas id="clickResData"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">QR Code Statistics Breakdown</h5>
          <canvas id="qrCodeStatsDoughnut"></canvas>
        </div>
      </div>
    </div>

       <div class="col-md-6 mt-1">
            <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Views by Device</h5>
            <h6 class="card-title">What devices were used by your visitors? </h6>
          <canvas id="qrCodeStatsDevice"></canvas>
        </div>
      </div>
      </div>

        <div class="col-md-6 mt-1">
            <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Views by Referrers</h5>
            <h6 class="card-title">What apps and websites are driving traffic?</h6>
          <canvas id="bioPageClicksReferrer"></canvas>
        </div>
      </div>
      </div>

        <div class="col-md-6 mt-1">
            <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Views by Country</h5>
            <h6 class="card-title">What countries are your visitors from?</h6>
          <canvas id="bioPageClicksCountry"></canvas>
        </div>
      </div>
      </div>

        <div class="col-md-6 mt-1">
            <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Views by City</h5>
            <h6 class="card-title">What cities are your visitors from?</h6>
          <canvas id="bioPageClicksCity"></canvas>
        </div>
      </div>
      </div>


  </div>
</div>

<!-- Your custom scripts or charts libraries (e.g., Chart.js) -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // QR Code data for charts
  // const qrCodeClicksData = {
  //   labels: ["QR Code Clicks"],
  //   datasets: [{
  //     label: 'QR Code Clicks',
  //     data: [{{ qr_code_clicks }}],
  //     backgroundColor: 'rgba(255, 99, 132, 0.2)',
  //     borderColor: 'rgba(255, 99, 132, 1)',
  //     borderWidth: 1
  //   }]
  // };

  const bioPageClicksData = {
    labels: {{ res3|map(attribute='date')|list|tojson }},
    datasets: [{
      label: 'URL Shortener Clicks',
      data: {{ res3|map(attribute='clicks')|list|tojson }},
      backgroundColor: 'rgba(54, 162, 235, 0.2)',
      borderColor: 'rgba(54, 162, 235, 1)',
      borderWidth: 1
    }]
  };

  // const urlShortClicksData = {
  //   labels: ["URL Shortener Clicks"],
  //   datasets: [{
  //     label: 'URL Shortener Clicks',
  //     data: [{{ url_short_clicks }} ],
  //     backgroundColor: 'rgba(75, 192, 192, 0.2)',
  //     borderColor: 'rgba(75, 192, 192, 1)',
  //     borderWidth: 1
  //   }]
  // };

  const clickResData = {
    labels: {{ res|map(attribute='date')|list|tojson }},
    datasets: [{
      label: 'URL Shortener Clicks',
      data: {{ res|map(attribute='clicks')|list|tojson }},
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      borderColor: 'rgba(75, 192, 192, 1)',
      borderWidth: 1
    }]
  };

  const qrCodeClicksData = {
    labels: {{ res2|map(attribute='date')|list|tojson }},
    datasets: [{
      label: 'QR Code Clicks',
      data: {{ res2|map(attribute='clicks')|list|tojson }},
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    }]
  };

  const qrCodeStatsData = {
    labels: ["QR Codes", "Bio Pages", "URL Shorteners"],
    datasets: [{
      label: 'QR Code Statistics',
      data: [{{ qr_code_generated }}, {{ bio_pages_generated }}, {{ url_shorts_generated }}],
      backgroundColor: ['rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'],
      borderColor: ['rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)'],
      borderWidth: 1
    }]
  };

  // Initialize charts
  const qrCodeClicksCtx = document.getElementById('qrCodeClicksChart').getContext('2d');
  new Chart(qrCodeClicksCtx, {
    type: 'bar',
    data: qrCodeClicksData,
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Date'
          }
        },
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Clicks'
          }
        }
      }
    }
  });

  const bioPageClicksCtx = document.getElementById('bioPageClicksChart').getContext('2d');
  new Chart(bioPageClicksCtx, {
    type: 'bar',
    data: bioPageClicksData,
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Date'
          }
        },
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Clicks'
          }
        }
      }
    }
  });

  // const urlShortClicksCtx = document.getElementById('urlShortClicksChart').getContext('2d');
  // new Chart(urlShortClicksCtx, {
  //   type: 'bar',
  //   data: urlShortClicksData

  // });

  const clickResDataCtx = document.getElementById('clickResData').getContext('2d');
  new Chart(clickResDataCtx, {
    type: 'bar',
    data: clickResData,
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Date'
          }
        },
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Clicks'
          }
        }
      }
    }
  });

  const qrCodeStatsDoughnutCtx = document.getElementById('qrCodeStatsDoughnut').getContext('2d');
  new Chart(qrCodeStatsDoughnutCtx, {
    type: 'doughnut',
    data: qrCodeStatsData
  });
</script>

{% endblock content %}