<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- The bootstrap libraries -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <!-- fontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- The Jquery local libarary -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index2.css') }}">

  <!-- ............Linked Javascript File............. -->

  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/script2.js') }}" defer></script>

  <!-- ............................................ -->

  <!-- Block to be inherited from this file by other files if need be -->
  {% block head %}{% endblock head %}
  {% block extra_js %}{% endblock extra_js %}
  <!-- Css link -->
  <link rel="stylesheet" href="" />
  <!-- Title , the block to be inherited by other files so as to add a title for each page-->
  <title>LinkTools {% block title %}{% endblock title %}
  </title>
  <link rel="icon" href="">
</head>

<body>
  <!-- There is a button at the bottom that redirects to this
    whenever the button is being clicked, it bring the user back to the top of the page
    -->
  <a name="top"></a>
  <!-- Navbar -->
  <section class="d-flex">
    
    <div class="d-flex flex-column bg-dark side_fold">

      <div style="width: 100%; cursor: pointer;" class="mt-2 px-4 d-flex justify-content-between align-items-center">
        <strong><a href="{{url_for('user_blp.dashboard')}}" class="navbar-brand text-warning ">LinkTools</a></strong>
        <!-- <i class="fa-solid fa-bars h4 rounded text-white bg-dark p-2"></i> -->
        <i class="fa-solid fa-x h6 rounded text-white bg-dark ms-auto haburger p-1r" onclick="toggleActiveClass()"></i>
      </div>

      <a href="{{url_for('user_blp.dashboard')}}" class="text-decoration-none text-white fw-bold px-4 my-5" style="width: 100%;">Dashboard</a>
      <a href="{{ url_for('user_blp.biolink') }}" class="text-decoration-none text-white fw-bold px-4" style="width: 100%;">Bio-Link</a>
      <a href="{{ url_for('user_blp.qr_code_info') }}" class="text-decoration-none text-white fw-bold px-4 my-5" style="width: 100%;">QR-Code</a>
      <a href="{{ url_for('user_blp.url_shortener_info') }}" class="text-decoration-none text-white fw-bold px-4" style="width: 100%;">URL Shortener</a>
      <a href="{{ url_for('auth_blp.logout') }}" class="text-decoration-none text-white fw-bold px-4 my-5" style="width: 100%;">Logout</a>
      <a href="{{url_for('user_blp.profile_info', username=current_user.username)}}" class="px-4 text-decoration-none">
        <i class="fa-solid fa-user-circle h3 text-muted"></i> <span class="fw-bold mx-1 text-muted">{{current_user.username.upper()}}</span>
    </a>
    </div>
 

 
  <div class="container mt-2 main" style="margin-left: 12rem;">
    <div style="width: fit-content; cursor: pointer;" class="mt-2 hamburger" onclick="toggleActiveClass()">
      <i class="fa-solid fa-bars h4 rounded text-white bg-dark p-2"></i>
    </div> <br>

{% block car %}

{% endblock car %}

    <div class="w-100 this" id="thiss">
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert-dismissible fade show mb-4 m-auto small alert alert-{{ category }}" role="alert"
        style="height: 3.5rem; transition: 0.6s; width: fit-content; padding-right: 6rem; padding-left: 6rem;">
        {% if category=='success' %}
        <p class="small text-center"><i class="fa fas fas fa-check"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
        {% else %}
        <p class="small text-center"><i class="fa fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>

  {% block content %}
  {% endblock content %}
  </div>

</section>


  <div class=" mt-5 px-4 px-lg-5">
    {% block any %}
    {% endblock any %}
  </div>



  <!-- The body section -->
  <section class="  my-3 d-flex px-4 px-lg-5 mb-5">
    <!-- web content -->
    <!--  -->
    
    </div>
  </section>

     {% if not current_user.is_authenticated %}
  <footer>
    <div class="footer-div row p-3 mb-2 bg-dark text-white">
        <div class="col-md-3 divclass">
            <!-- The navbar brand -->
            <!-- The navbar brand -->
            <a href="" class="footer-brand text-decoration-none">
                <h3>LinkTools</h3>
            </a>
            <p class="text-light mt-5 pclass3">We are your best pick for everything.</p>
        </div>

        <div class="text-light  d-flex flex-column col-md-3 mydiv">
            <h4>SOLUTIONS</h4> <br><br>
            <h6 >URL SHORTENER</h6><br>
            <h6>QR CODES</h6><br>
            <h6>Link-In-BIO </h6>
        </div>

        <div class="text-light  d-flex flex-column col-md-3 mydiv">
            <h5>COMPANY</h5> <br><br>
            <h6 >ABOUT US</h6><br>
            <h6>CONTACT US</h6><br>
            <h6>GET STARTED </h6>
        </div>

        <div class="text-light d-flex flex-column col-md-3 mydiv">
            <h5>Social Media</h5>
            <div class="d-flex">
            <span class="p-2">
                <i class="fa-brands fa-facebook social p-1 rounded"></i>
            </span>
            <span class="p-2">
                <i class="fa-brands fa-instagram social p-1 rounded"></i>
            </span>
            <span class="p-2">
                <i class="fa-brands fa-twitter social p-1 rounded"></i>
            </span>
            <span class="p-2">
                <i class="fa-brands fa-whatsapp social p-1 rounded"></i>
            </span>
            </div>
        </div>
    </div>
</footer>
   {% endif %}
  <!-- Icon tha redirects back to the top of the page -->
  <a href="#top" class="up" style="position: fixed; left: 10px; bottom: 60px"><i class="fa fas fa-arrow-alt-circle-up fs-4"></i></a>

  <!-- FOOTer -->
  <!-- <footer class="fixed-bottom text-center bg-dark text-light py-1 small" style="z-index: 0;">
  </footer> -->

  <!-- Javascript code to get the current year and add it to the footer -->
  <!-- <script>
    const paragraph = `<span class='small'>Copyright &copy; ${new Date().getFullYear()} | Link2ru</span>`;
    document.querySelector('footer').innerHTML = paragraph;
  </script> -->

  <!-- @@@@@@@@@@@@@@@@@@@@@@@ -->




  <!-- Bootsrap popper -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
  {% block script %}{% endblock script %}
</body>

</html>
