<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- The bootstrap libraries -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <!-- fontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- The Jquery local libarary -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

    <!-- Add this link in your head section -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday@1.8.0/css/pikaday.min.css" integrity="sha384-KJ7QJKDFN3+u8wJeRih+p2e9DMgCYs5qAYhKMzizx9Gif7YEfw9wlQWvKqlMg7eN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/pikaday@1.8.0/pikaday.min.js" integrity="sha384-ikxH+YsWpDj2vFa+/W1jkF9MFDtVaJ+2F8Vi8D7b5Fz8uPdQp9WOmko3NBf2PnXY" crossorigin="anonymous"></script>


  <!-- ............Linked Javascript File............. -->

  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>

  <!-- ............................................ -->

  <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

  <!-- Block to be inherited from this file by other files if need be -->
  {% block head %}{% endblock head %}
  {% block extra_js %}{% endblock extra_js %}

   <!-- Title , the block to be inherited by other files so as to add a title for each page-->
  <title>{% block title %}LinkTools - Nigeria's first URL Shortener, QR Codes generator and Bio Link Service{% endblock title %} </title>
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  <meta name="author" content="{% block author %}{% endblock %}" />
  <!-- Css link -->
  <link rel="stylesheet" href="" />
  <link rel="icon" href="">
  {{ ckeditor.load() }}

  <style>



ul_list2 {
  display: flex;
  /* other CSS properties */
}

li {
  display: inline;
  /* other CSS properties */
}

@media screen and (max-width: 767px) {
  ul_list2 {
    display: block;
  }

  li {
    display: block;
  }
}

 </style>
</head>

<body>
  <!-- There is a button at the bottom that redirects to this
    whenever the button is being clicked, it bring the user back to the top of the page
    -->
  <a name="top"></a>
  <!-- Navbar -->
  <nav class="navbar sticky navbar-expand-lg navbar-dark bg-white py-3" style="border-bottom: 2px solid whitesmoke;">
    <div class="container">
      <!-- The navbar brand -->
      <!-- The navbar brand -->
        <a href="{% if current_user.is_authenticated %}{{url_for('user_blp.dashboard')}}{% else %}{{url_for('user_blp.home')}}{% endif %}" class="navbar-brand text-primary " style="font-weight: 600;"> Link<i class="bi bi-link h5"></i>Tools</a>
      
      <!-- Bootstrap nav toggler -->
      <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"
        aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- The nav links -->
      <div class="collapse navbar-collapse" id="navmenu">
        {% if current_user.is_authenticated %}
        <!-- If the user is logged in, this nav links appears -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{{url_for('user_blp.dashboard')}}" class="nav-link text-dark">Dashboard</a>
          </li>
          <!-- <li class="nav-item">
            <a href="" class="nav-link ">Profile</a>
          </li>

          <li class="nav-item">
            <a href="" class="nav-link ">Post</a>
          </li> -->
          <!-- <li class="nav-item">
            <a href="" class="nav-link ">About</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link ">Contact</a> -->
<!--          </li>-->

          <li class="nav-item">
            <a href="{{ url_for('auth_blp.logout') }}" class="nav-link text-dark ">Logout</a>
          </li>

           <li class="nav-item">
            <a href="{{ url_for('user_blp.qr_code_info') }}" class="nav-link text-dark">QR Code</a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('user_blp.biolink') }}" class="nav-link text-dark">Bio Link</a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('user_blp.url_shortener_info') }}" class="nav-link text-dark">Url Shortener</a>

          {% block link %}

          {% endblock link %}
        </ul>
        <ul class="navbar-nav ms-auto mt-2">
          <li class="nav-item d-flex justify-content-end align-items-start">

             <a href="{{url_for('user_blp.profile_info', username=current_user.username)}}" class="text-decoration-none nav-item d-flex justify-content-end align-items-start">
              <i class="fa-solid fa-user-circle h3 text-muted"></i> <span class="fw-bold mx-1 text-muted">{{current_user.username.upper()}}</span>
          </a>
            </li>
        </ul>

        {% else %}
        <!-- If the user is not logged in, this nav links appears -->
        <ul id="ul_list2" class="nav col-md-auto mb-2 justify-content-center mb-md-0 flex-fill text-start" >


          <li class="nav-item ">
            <a href="{{ url_for('user_blp.url_shortener_info') }}" class="nav-link text-dark" style="font-weight: 500; font-size: 16px !important;">URL Shortener</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('user_blp.qr_code_info') }}" class="nav-link text-dark" style="font-weight: 500; font-size: 16px !important;">QR Code</a>
          </li>

          <li class="nav-item">
              <a href="{{ url_for('user_blp.biolink') }}" class="nav-link text-dark" style="font-weight: 500; font-size: 16px !important;">Bio Link</a>
          </li>

          <li class="nav-item">
              <a href="{{ url_for('user_blp.biolink') }}" class="nav-link text-dark" style="font-weight: 500; font-size: 16px !important;">Blog</a>
          </li>
           </ul>


        <div class="col-md-3 text-end flex-fill" id="login-menu">

            <a href="{{ url_for('auth_blp.login') }}" id="auth_btn1" class="btn me-2 align-items-center" style="background: none; border: 1px solid #1e248c;">Login</a>
            <a href="{{ url_for('auth_blp.register') }}" id="auth_btn2" class="btn me-3 align-items-center">Sign Up free</a>

        </div>

        {% endif %}
      </div>
    </div>
  </nav>

  {% block car %}
  {% endblock car %}




  <div class=" mt-2 px-4 px-lg-5">
    {% block any %}
    {% endblock any %}
  </div>



  <!-- The body section -->
  <section class="">
    <!-- web content -->
    <div class="w-100 this" id="thiss">
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert-dismissible fade show mb-4 m-auto small alert alert-{{ category }}" role="alert"
        style="height: 3.5rem; transition: 0.6s; width: fit-content; padding-right: 6rem; padding-left: 6rem;">
        {% if category=='success' %}
        <p class="small text-center"><i class="fa fas fas fa-check"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
        {% else %}
        <p class="small text-center"><i class="fa fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %} {% endif %} {% endwith %} 
    </div>

    </div>
  </section>

  {% block content %}
      {% endblock content %}

     {% if not current_user.is_authenticated %}
  <!-- <footer>
    <div class="footer-div row p-3 mb-2 text-white">

        <div class="col-md-3 divclass">
            <a href="" class="footer-brand text-decoration-none">
                <h3 class="">LINKTOOLS.NG</h3>
            </a>
            <p class="text-light ">Linktools is Nigeria's first URL Shortener, QR CODES generator software and Link-In-Bio service. </p>
        </div>


        <div class="text-light  d-flex flex-column col-md-3 mydiv">
            <h4>SOLUTIONS</h4> <br>
            <h6><a href="" class="footer-brand text-decoration-none">URL SHORTENER</a></h6><br>
            <h6><a href="" class="footer-brand text-decoration-none">QR CODES</a></h6><br>
            <h6><a href="" class="footer-brand text-decoration-none">LINK IN BIO </a></h6>
        </div>

        <div class="text-light  d-flex flex-column col-md-3 mydiv">
            <h5>COMPANY</h5> <br>
            <h6><a href="" class="footer-brand text-decoration-none">ABOUT US</a></h6><br>
            <h6><a href="" class="footer-brand text-decoration-none">CONTACT US</a></h6><br>
            <h6><a href="" class="footer-brand text-decoration-none">GET STARTED </a></h6>
        </div>




        <div class="text-light d-flex flex-column col-md-3 mydiv">
            <h5>Social Media</h5>
            <div class="d-flex">
            <span class="p-2">
                <i class="fa-brands fa-facebook social p-1 rounded"></i>
            </span>
            <span class="p-2">
                <i class="fa-brands fa-instagram social p-1 rounded"></i>
            </span>
            <span class="p-2">
                <i class="fa-brands fa-twitter social p-1 rounded"></i>
            </span>
            <span class="p-2">
                <i class="fa-brands fa-whatsapp social p-1 rounded"></i>
            </span>
            </div>


        </div>


    </div>
      <div class="text-center" style="color:white">
          <p>Proudly <span style="color:green">NIGERIAN </span>&copy Copyright 2023</p>
      </div><br>

</footer> -->
  {% include 'footer.html' %}
   {% endif %}
  <!-- Icon tha redirects back to the top of the page -->
  <a href="#top" class="up" style="position: fixed; left: 10px; bottom: 60px"><i class="fa fas fa-arrow-alt-circle-up fs-4"></i></a>

  <!-- FOOTer -->
  <!-- <footer class="fixed-bottom text-center bg-dark text-light py-1 small" style="z-index: 0;">
  </footer> -->

  <!-- Javascript code to get the current year and add it to the footer -->
  <!-- <script>
    const paragraph = `<span class='small'>Copyright &copy; ${new Date().getFullYear()} | Link2ru</span>`;
    document.querySelector('footer').innerHTML = paragraph;
  </script> -->

  <!-- @@@@@@@@@@@@@@@@@@@@@@@ -->




  <!-- Bootsrap popper -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
  {% block script %}{% endblock script %}
</body>

</html>
