{% extends 'base2.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/biophone.css') }}">

{% endblock head %}
{% block content %}

<main style="margin-top: 78px">
  <div class="container pt-4">

   <div class="dashdiv">
     <div class="d-flex flex-row">
        <div class="p-2">
   <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 flex-fill text-start">

       {% for post in bio_pages %}
       <li class="nav-item mx-3">
        <p class="mt-1"><i class="fa fa-link" aria-hidden="true"></i>
        <a class="text-decoration-none text-dark fw-bold " href="{{url_for('user_blp.bio_link_routes', brand_name=post.bio_name)}}" >{{ host_url }}bio/{{post.bio_name}}</a></p>
       </li>

       <li class="nav-item mt-1"><span class="text-primary text-center "><b><i class="fas fa-copy"></i> Copy</b></span></li>

       <li>
       <div class="dropdown mx-3">
       <button class="btn btn-secondary dropdown-toggle mt-0" type="button" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false">
       <i class="bi bi-pencil-square"></i> Edit URL </i>
       </button>

           <!-- Edit Bio page dropdown -->
      <div class="dropdown-menu p-5" style="width: 20rem;">
      <h3>Edit Bio Name</h3>
      <form action="{{url_for('user_blp.update_details', bio_id=post.id)}}" method="post" class="form-group">
        <label for="link_name">Link Name</label>
        <input type="text" class="form-control" name="brandname" value={{post.bio_name}}> <br>
        <button type="submit" class="btn btn-secondary">Update</button>
      </form>
      </div>
      </div>
      </li>

      <li><a href="{{url_for('user_blp.bio_link_routes', brand_name=post.bio_name)}}" target="blank">
          <button class="btn-light text-center p-1 bg-light shadow-none mx-3 text-dark text-decoration-none rounded-3 border border-dark">
           <i class="fa fa-external-link mx-1" aria-hidden="true"></i> View </button></a>
      </li>

      <li><button class="btn-light text-center p-1 bg-light shadow-none  text-dark text-decoration-none rounded-3 border border-dark" href="#">
           <i class="fas fa-share"></i> Share</i>
       </button>
       </li>

       <li class="text-end ms-5"><p class="btn-success text-end p-1 ms-5 bg-success shadow-none text-light text-decoration-none rounded-1 border border-success" >
            Save Changes
       </p>
       </li>



       {% endfor %}
    </ul>
    </div>
    </div>
</div>

      <div class="container bg-secondary">
    <div class="d-flex justify-content-start py-3 container align-item-center">
        <div>
            {% for post in bio_pages %}
        <a href="{{url_for('user_blp.bio_link_pages_details', bio_id=post.id)}}" class="btn py-1 px-2" style="background: rgb(93, 87, 80) !important;">Links</a>
        <a href="{{url_for('user_blp.bio_link_page_appearance', bio_id=post.id)}}" class="btn py-1 px-2" style="margin-right: .6rem; background: rgb(93, 87, 80) !important;">Appearance</a>
        <a href="{{url_for('user_blp.bio_link_page_track_analytics', bio_id=post.id)}}" class="btn py-1 px-2" style="background: rgb(93, 87, 80) !important;">Analytics</a>
            {% endfor %}
    </div>
    </div>
</div>
<br>

<div class="container">
    <div class="mx-5">
<!--       <a href="{{url_for('user_blp.admin')}}"> <button type="button" class="btn btn-primary">Add a Link <i class="fa-solid fa-plus"></i></button></a>-->
       <div class="dropdown">
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
     Add URL/Links to Bio Page <i class="fa-solid fa-plus"></i>
     </button>

     <form method="POST" class="dropdown-menu p-5 mx-5">
  <div class="mb-3">
      {{ form.linkname(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.link(class="form-control") }}
  </div>
  {{ form.submit(class="btn btn-success border bg-success p-2", style='font-size: 1rem') }}
</form>
     </div>


        </div>
    <div class="row">
     <!-- Bio details phone-->
     <div class="clearfix"  >
    <div class="float-start  w-50 p-3">

        {% if links_added %}
       {% for post in links_added|reverse %}


            <div class=" mb-4">
                <div class="card text-secondary">

                  <div >
                    <div class='float-start text-muted h4 py-3 fw-bold text-decoration-none text-center mx-3'>
                          <img class="me-5 rounded-circle" height="25" width="25" src='http://www.google.com/s2/favicons?domain={{post.link_url}}' />
                              {{ post.link_name.upper() }}
                      </div>

                      <div class="float-end mx-5 mt-3" ><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal101{{post.id}}"><b><i class="bi bi-pencil-square"></i>Edit</b></button></div>
                  </div>

                      <div class="text-center">
                            {{ post.link_url }}
                      </div>



<!--                Add more content here as needed-->
                <div style='display: flex; justify-content: space-evenly; align-items: center;' class="mt-3 w-75 m-auto">
                    {%if post.link_name=="Twitter" %}
                    <a href='{{post.link}}' target='_blank'>
                      <i class="fa-brands fa-twitter h4 text-info stylethis2 rounded-circle p-2"></i>
                    </a>
                    {%endif%}
                    {%if post.link_name=="Facebook" %}
                    <a href='{{post.link}}' target='_blank'>
                      <i class="fa-brands fa-facebook h4 text-primary stylethis2 rounded-circle p-2"></i>
                    </a>
                    {%endif%}
                  </div>
                  <hr>
                  <p class="position-relative text-muted rounded p-1 mb-2 fw-bold mt-2 m-auto d-flex justify-content-around align-item-center" style="width: fit-content;">
                    <span ><i class="bi bi-bar-chart-fill h5 text-decoration-none"></i>Clicks</span>
                      <span class="badge rounded-pill badge-notification bg-danger fw-bold mx-2">
                      {{post.clicks}}
                      <span class="visually-hidden">Clicks</span>
                    </span>
                    <a href="/delete/{{post.linkname}}" onclick="return confirmDelete()">
                      <i class="fa fa-trash-alt text-danger ms-5"></i>
                    </a>

                  </p>
              </div>

              <div class="modal fade" id="exampleModal101{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel101" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel101">Update</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                      <!-- Edit link entries -->
                    <div class="modal-body">
                      <div>
                        <div class="mb-3">
                          <form action="{{url_for('user_blp.update_bio_link_pages_details', bio_id=post.id, parent_id=bio_id)}}" method="post" class="form-group">
                            <label for="link_name">Link Name</label>
                            <input type="text" class="form-control" name="link_name" value={{post.link_name}}> <br>
                            <label for="link_url">Link Url</label>
                            <input type="text" class="form-control" name="link_url" value={{post.link_url}}>
                            <button type="submit" class="btn btn-secondary">Update</button>
                          </form>
                        </div>
                      </div>
                      <style>
                        .btn-secondary {
                             margin-top: 10px;
                             font-size: 1rem;
                             padding: 5px;
                         }
                     </style>
                    </div>
                  </div>
                </div>
               </div>

            </div>

        {% endfor %}
          {% endif %}
        </div>
         <div class="float-end pt-0">
            <p class="text-center rounded-pill "><button class="rounded-3 bg-warning">Live Preview </button></p>
      <div class="smartphone ">
     <div class="content mx-5" >
      <div class="phone_container mt-5 mx-5" >
          <div class="d-flex justify-content-center mb-4 mx-5 ">
            <img src="{{ url_for('static', filename='Image-placeholder-2.png') }}"
        class="rounded-circle "  style="width: 100px; height: 100px; object-fit: cover;" alt="example placeholder" />
            </div>

          <p class="text-center"><b>Welcome!</b></p>
      {% for post in links_added|reverse%}
          <div class='border border-primary rounded-pill p-3 mt-2 text-center'>
            <img class="rounded-circle" height="25" width="25" src='http://www.google.com/s2/favicons?domain={{post.link_url}}' />
            {{ post.link_name.upper() }} <br>
              </div>
      {% endfor %}

          </div>
      </div>
    </div>
  </div>

</div>


</div>


</div>


  </div>
</main>
{% endblock content %}
