{% extends 'base2.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/biophone.css') }}">


{% endblock head %}
{% block content %}

<main style="margin-top: 78px">
  <div class="container pt-4">

   <div class="dashdiv">
     <div class="d-flex flex-row">
        <div class="p-2">
   <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 flex-fill text-start">
        {% for post in bios %}
       <li class="nav-item mx-3">
      <p><i class="fa fa-link" aria-hidden="true"></i>
       <a class="text-decoration-none text-dark fw-bold" href="{{url_for('user_blp.bio_link_routes', brand_name=post.bio_name)}}" >{{ host_url }}bio/{{post.bio_name}}</a></p>
       </li>

       <li class="nav-item mt-1"><span class="text-primary text-center "><b><i class="fas fa-copy"></i> Copy</b></span></li>

       <li><div class="dropdown mx-3">
       <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false">
       Edit URL
       </button>
      <div class="dropdown-menu p-5" style="width: 20rem;">

      <h3>Edit Bio Name</h3>

      <form action="{{url_for('user_blp.update_details', bio_id=post.id)}}" method="post" class="form-group">
        <label for="link_name">Link Name</label>
        <input type="text" class="form-control" name="brandname" value={{post.bio_name}}> <br>
        <button type="submit" class="btn btn-secondary">Update</button>
       </form>

        </div>
        </div>
       </li>

       <li> <a href="{{url_for('user_blp.bio_link_routes', brand_name=post.bio_name)}}" target="blank">
          <button class="btn-light text-center p-1 bg-light shadow-none mx-3 text-dark text-decoration-none rounded-3 border border-dark">
           <i class="fa fa-external-link mx-1" aria-hidden="true"></i> View </button></a>
       </li>
       <li><button class="btn-light text-center p-1 bg-light shadow-none text-dark text-decoration-none rounded-3 border border-dark" href="#">
           <i class="fas fa-share"></i> Share</i>
       </button>
       </li>

       <li class="text-end ms-5"><p class="btn-success text-end p-1 ms-5 bg-success shadow-none text-light text-decoration-none rounded-1 border border-success" >
            Save Changes
       </p>
       </li>

       {% endfor %}
    </ul>
    </div>
    </div>
</div>
       <div class="container bg-secondary">
    <div class="d-flex justify-content-start py-3 container align-item-center">
        <div>
            {% for post in bios %}
        <a href="{{url_for('user_blp.bio_link_pages_details', bio_id=post.id)}}" class="btn py-1 px-2" style="background: rgb(93, 87, 80) !important;">Links</a>
        <a href="{{url_for('user_blp.bio_link_page_appearance', bio_id=post.id)}}" class="btn py-1 px-2" style="margin-right: .6rem; background: rgb(93, 87, 80) !important;">Appearance</a>
        <a href="{{url_for('user_blp.bio_link_page_track_analytics', bio_id=post.id)}}" class="btn py-1 px-2" style="background: rgb(93, 87, 80) !important;">Analytics</a>
            {% endfor %}
    </div>
    </div>
</div>

<br>



<div class="container mt-3">

    <div class="row">
     <div class=""  >
         <div class="float-start  w-50" >

         <div class="card border border-light bg-light ">

             <h4 class="mx-5 mt-4"><b>Profile</b></h4>
             <h6 class="mx-5 mt-2"><b>Image</b></h6>
           <br>

             <div class="row">

             <div class="d-flex justify-content-left mb-4 mx-5 float-start">
            <img src="{{ url_for('static', filename='Image-place-holder.png') }}"
            class="rounded-circle "  style="width: 100px; height: 100px; object-fit: cover;" alt="example placeholder" />

                 <div class=" text-center mt-4 ms-4">
                   <button class="rounded-3">Add Image</button>
               </div>

            </div>

               <h5 class="mx-5 mt-4"><b>About</b></h5>
               <p class="mx-5 mt-2"><b> About</b>(Optional)</p>
               <p class="mx-5 mt-0"> <input type="text" id="fname" name="fname" size="40" value="Welcome!"></p>

               <p class="mx-5 mt-2"><b> Description</b>(Optional)</p>
               <p class="mx-5 mt-0"> <input type="text" id="des" name="desc" size="40" value=""></p>
                 <br>
            </div>
         </div> <br>

             <div class="float-start  w-100" >
            <div class="card border border-light bg-light ">
             <h5 class="mx-5 mt-4"><b>Style & layout</b></h5>
             <h6 class="mx-5 mt-2"><b>Bio Layout</b></h6>

             <div class="d-flex justify-content-left mb-4 mx-5 float-start ">
            <img src="{{ url_for('static', filename='Layout-1.png') }}" style="width: 100px; height: 200px; object-fit: cover;" alt="example placeholder" />

            <img src="{{ url_for('static', filename='Layout-2.png') }}" class="ms-5" style="width: 100px; height: 200px; object-fit: cover;" alt="example placeholder" />

            <img src="{{ url_for('static', filename='Layout-3.png') }}" class="ms-5" style="width: 100px; height: 200px; object-fit: cover;" alt="example placeholder" />

             </div>
             </div>
             </div>

              <h5 class="mx-5 mt-4">.</h5>
             <div class="float-start  w-200" >
            <div class="card border border-light bg-light ">
              <h5 class="mx-5 mt-4"><b>Block</b></h5>
                <h6 class="mx-5 mt-2"><b>Shape</b></h6>

                <div>
                    <img src="{{ url_for('static', filename='Rectangle-11.png') }}" class="ms-5 float-start" style="width: 200px; height: 50px; object-fit: cover;" alt="example placeholder" />
                    <img src="{{ url_for('static', filename='Rectangle-12.png') }}" class="ms-3 me-4 float-end" style="width: 200px; height: 50px; object-fit: cover;" alt="example placeholder" />
                </div>

                <div class="mt-3">
                    <img src="{{ url_for('static', filename='Rectangle-16.png') }}" class="ms-5 float-start" style="width: 200px; height: 50px; object-fit: cover;" alt="example placeholder" />
                    <img src="{{ url_for('static', filename='Rectangle-14.png') }}" class="ms-3 me-4 float-end" style="width: 200px; height: 50px; object-fit: cover;" alt="example placeholder" />
                </div>

                <div class="mt-3 mb-5">
                    <img src="{{ url_for('static', filename='Rectangle-13.png') }}" class="ms-5 float-start" style="width: 200px; height: 50px; object-fit: cover;" alt="example placeholder" />
                    <img src="{{ url_for('static', filename='Rectangle-15.png') }}" class="ms-3 me-4 float-end" style="width: 200px; height: 50px; object-fit: cover;" alt="example placeholder" />
                </div>
<!--                  <h6 class="mx-5 mt-2"><b>Shadow</b></h6>-->
<!--                 <div class="mt-3 mb-5">-->
<!--                    <img src="{{ url_for('static', filename='shadow-1.png') }}" class="ms-2 float-start" style="width: 100px; height: 50px; object-fit: cover;" alt="example placeholder" />-->
<!--                    <img src="{{ url_for('static', filename='shadow-2.png') }}" class="ms-2  float-center" style="width: 150px; height: 50px; object-fit: cover;" alt="example placeholder" />-->
<!--                     <img src="{{ url_for('static', filename='shadow-3.png') }}" class="ms-2 float-end" style="width: 200px; height: 50px; object-fit: cover;" alt="example placeholder" />-->
<!--                </div>-->

                </div>
                 </div>






      </div>






         <!-- Bio details phone-->
       <div class="float-end">
           <p class="text-center rounded-pill "><button class="rounded-3 bg-warning ">Live Preview </button></p>
      <div class="smartphone ">
     <div class="content mx-5" >
      <div class="phone_container mt-5 mx-5" >

          <div class="d-flex justify-content-center mb-4 mx-5 ">
            <img src="{{ url_for('static', filename='Image-placeholder-2.png') }}"
        class="rounded-circle "  style="width: 100px; height: 100px; object-fit: cover;" alt="example placeholder" />
            </div>

          <p class="text-center"><b>Welcome!</b></p>

      {% for post in links_added|reverse%}
          <div class='border border-primary rounded-pill p-3 mt-2 text-center'>
              <img class="rounded-circle" height="25" width="25" src='http://www.google.com/s2/favicons?domain={{post.link_url}}' />
        {{ post.link_name.upper() }} <br>
              </div>
      {% endfor %}

          </div>
      </div>
    </div>
  </div>
</div>

</div>





</div>

  </div>
</main>
{% endblock content %}
