{% extends 'base2.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/biophone.css') }}">


{% endblock head %}
{% block content %}
<style>
    body {
      background-color: #f8f9fa;
    }
    .admin-dashboard {
      padding: 20px;
    }
    .card {
      margin-bottom: 20px;
    }
</style>

<main style="margin-top: 78px">
  <div class="container pt-4">
       <ul class="breadcrumb">
      <li><a href="#">Bio pages</a></li>
      <li>Analytics</li>
       </ul>

      <!--Start of Bio link Nav Bar-->
   {% include "biolink_navbar.html" %}
       <!--End of Bio link Nav Bar-->

<br>

      <h3 class="mb-2"><b>BIO PAGE ANALYTICS</b></h3>

      <!-- Date picker -->
              <div class="details ms-3">
            <div class="filters">
                <div class="btn-group date-filter"> <a class="btn " data-toggle="dropdown" href="#">
                    <i class="bi bi-calendar px-2"></i> Date Range : Last 7 days
                    <span class="caret"></span>
                  </a>

                    <ul class="dropdown-menu">
                        <li><a href="#">Last 7 days</a>
                        </li>
                        <li><a href="#">Last 14 days</a>
                        </li>
                        <li><a href="#">Last 30 days</a>
                        </li>
                        <li><a href="#">Last 60 days</a>
                        </li>
                        <li><a href="#" class="show-custom-range">Custom Range</a>
                        </li>
                        <li class="custom-range-box">
                            <div class="custom-range">
                                <div class="start-date">
                                    <label>From</label>
                                    <div class="input-append date datepicker" data-date="02-2012" data-date-format="mm-yyyy">
                                        <input type="text" class="input-small"> <span class="add-on"><i class="icon-calendar"></i></span>

                                    </div>
                                </div>
                                <div class="end-date">
                                    <label>To</label>
                                    <div class="input-append date datepicker" data-date="02-2012" data-date-format="mm-yyyy">
                                        <input type="text" class="input-small"> <span class="add-on"><i class="icon-calendar"></i></span>

                                    </div>
                                </div>
                                <button class="btn">Go</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

      <!-- End of date picker -->



    <div class="row">
        <h3 class="mt-3 ms-3"><b>Overview</b></h3>
     <!-- Bio details phone-->
     <div class="clearfix"  >
    <div class="float-start  w-50 p-3">


         <div class=" mb-4">
            <div class="card-body bg-warning">
          <h5 class="card-title">Bio Page Clicks</h5>
          <p class="card-text fw-bold">{{ bio_page_clicks }}</p>
        </div>
            </div>

         <div class=" mb-4">
            <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Bio Page Clicks Chart</h5>
          <canvas id="bioPageClicksChart"></canvas>
        </div>
      </div>
      </div>


        <!-- <div class=" mb-4">
            <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Views by Device</h5>
            <h6 class="card-title">What devices were used by your visitors? </h6>
          <canvas id="qrCodeStatsDoughnut"></canvas>
        </div>
      </div>
      </div> -->

        <!-- <div class=" mb-4">
            <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Views by Referrers</h5>
            <h6 class="card-title">What apps and websites are driving traffic?</h6>
          <canvas id="bioPageClicksReferrer"></canvas>
        </div>
      </div>
      </div> -->

        <!-- <div class=" mb-4">
            <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Views by Country</h5>
            <h6 class="card-title">What countries are your visitors from?</h6>
          <canvas id="bioPageClicksCountry"></canvas>
        </div>
      </div>
      </div> -->

      <div class="card bg-dark">
        <h4 class="text-white p-3">Views by countries</h4>
      <table class="table table-sm text-white">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
          {% for country in countries %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ country["country"]}}</td>
            <td>{{ country["count"]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="card bg-warning">
      <h4 class="text-dark p-3">Views by cities</h4>
    <table class="table table-sm text-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">City</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <!-- remove the border of tbody -->
      <tbody class="border-0">
        {% for city in cities %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ city["city"]}}</td>
          <td>{{ city["count"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="card bg-dark">
    <h4 class="text-white p-3">Views by devices</h4>
  <table class="table table-sm text-white">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Devices</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <!-- remove the border of tbody -->
    <tbody class="border-0">
      {% for device in devices %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ device["device"]}}</td>
        <td>{{ device["count"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="card bg-warning">
  <h4 class="text-dark p-3">Views by browsers</h4>
<table class="table table-sm text-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Browser</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <!-- remove the border of tbody -->
  <tbody class="border-0">
    {% for browser in browsers %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ browser["browser"]}}</td>
      <td>{{ browser["count"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

        <!-- <div class=" mb-4">
            <div class="card">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">Views by City</h5>
            <h6 class="card-title">What cities are your visitors from?</h6>
          <canvas id="bioPageClicksCity"></canvas>
        </div>
      </div>
      </div> -->


        </div>
         <div class="float-end pt-0">
            <p class="text-center rounded-pill "><button class="rounded-3 bg-warning">Live Preview </button></p>
      <div class="smartphone ">
     <div class="content mx-5" >
      <div class="phone_container mt-5 mx-5" >
          <div class="d-flex justify-content-center mb-4 mx-5 ">
            <img src="{{ url_for('static', filename='Image-placeholder-2.png') }}"
        class="rounded-circle "  style="width: 100px; height: 100px; object-fit: cover;" alt="example placeholder" />
            </div>

          <p class="text-center"><b>Welcome!</b></p>
      {% for post in links_added|reverse%}
          <div class='border border-primary rounded-pill p-3 mt-2 text-center'>
            <img class="rounded-circle" height="25" width="25" src='http://www.google.com/s2/favicons?domain={{post.link_url}}' />
            {{ post.link_name.upper() }} <br>
              </div>
      {% endfor %}

          </div>
      </div>
    </div>
  </div>

</div>


</div>


</div>


</div>
</main>

<!-- Your custom scripts or charts libraries (e.g., Chart.js) -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // QR Code data for charts

  // const bioPageClicksData = {
  //   labels: ["Bio Page Clicks"],
  //   datasets: [{
  //     label: 'Bio Page Clicks',
  //     data: [{{ bio_page_clicks }}],
  //     backgroundColor: 'rgba(54, 162, 235, 0.2)',
  //     borderColor: 'rgba(54, 162, 235, 1)',
  //     borderWidth: 1
  //   }]
  // };

  const bioPageClicksData = {
    labels: {{ res|map(attribute='date')|list|tojson }},
    datasets: [{
      label: 'URL Shortener Clicks',
      data: {{ res|map(attribute='clicks')|list|tojson }},
      backgroundColor: 'rgba(54, 162, 235, 0.2)',
      borderColor: 'rgba(54, 162, 235, 1)',
      borderWidth: 1
    }]
  };

// const qrCodeStatsData = {
//     labels: ["Mobile", "Desktop", "Tablets"],
//     datasets: [{
//       label: 'QR Code Statistics',
//       data: [{{ qr_code_generated }}, {{ bio_pages_generated }}, {{ url_shorts_generated }}],
//       backgroundColor: ['rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'],
//       borderColor: ['rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)'],
//       borderWidth: 1
//     }]
//   };


  // Initialize charts

  // const bioPageClicksCtx = document.getElementById('bioPageClicksChart').getContext('2d');
  // new Chart(bioPageClicksCtx, {
  //   type: 'bar',
  //   data: bioPageClicksData
  // });


  // const qrCodeStatsDoughnutCtx = document.getElementById('qrCodeStatsDoughnut').getContext('2d');
  // new Chart(qrCodeStatsDoughnutCtx, {
  //   type: 'doughnut',
  //   data: qrCodeStatsData
  // });

  const bioPageClicksCtx = document.getElementById('bioPageClicksChart').getContext('2d');
  new Chart(bioPageClicksCtx, {
    type: 'bar',
    data: bioPageClicksData,
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Date'
          }
        },
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Clicks'
          }
        }
      }
    }
  });




</script>

<script>

    // Date range picker

$(document).ready(function () {
    (function initializeFilters() {
        $(".date-filter").on("click", "ul li a", function (e) {
            e.preventDefault();

            if (!$(this).hasClass("show-custom-range")) {
                $(this).parents("ul").children().last().hide();
            } else {
                $(this).parent().next().show();
            }

            var thisValue;
            thisValue = $(this).html();
            $(this).parents("ul").find("a").removeClass("a-disabled");
            $(this).addClass("a-disabled");
            $(".breadcrumb li span").html(thisValue);
        });

        $('.date-filter').on("click", "ul li *", function (e) {
            e.stopPropagation();
        });

        $(".datepicker").datepicker({
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true
        });

        $(document).on('click', 'span.month, th.next, th.prev, th.switch, span.year', function (e) {
            e.stopPropagation();
        });

    })();
});

</script>


{% endblock content %}
