{% extends 'base3.html' %}
{% block title %}- {{brandie}} Link-in-bio Page{% endblock title %}
{% block content %}

<style>
    .containerr {
        max-width: 600px;
        max-height: 10px;
        margin: 0 auto;
        padding: 40px 20px;
        text-align: center;
        border-radius: 8px;
        font-family: proxima nova;


    }

    h1 {
        font-size: 36px;
        color: #333;
        margin-top: 0;
    }
</style>
           <div class="text-end mx-5 ml-5 mb-5 rounded-circle "><button class="rounded-circle border border-light mx-5 px-2"><i class="bi bi-share-fill" ></i></button></div>
<div class="containerr mt-5">


    <button class="rounded-pill"><i class="text-center fa fa-user h1 text-primary stylethis2 mx-3 mt-3 mb-3"></i></button>
    <br><br>
    <div class='h3 mb-4 mt-3'><strong>Welcome!</strong></div>

    {%if all_posts%}
    {% for post in all_posts  %}
    <div class='p-3 mt-2 rounded-pill border-bottom ' style="color: rgb(35, 35, 35); background-color: rgb(199, 204, 208); border-radius: 2.3rem;">
        <a class='h3 mb-4 mt-3 fw-bold text-decoration-none' href='{{post.link_url}}' target='_blank'>{{ post.link_name.upper() }}</a>
        <div style='display: flex; justify-content: space-evenly;'>
            {%if post.link_name=="Twitter" %}
            <a href='{{post.link}}' target='_blank'>
                <i class="fa-brands fa-twitter h1 text-info"></i>
            </a>
            {%endif%}
            {%if post.link_name=="Amazon" %}
            <a href='{{post.link}}' target='_blank'>
                <i class="fa-brands fa-amazon h1 text-warning"></i>
            </a>
            {%endif%}
            {%if post.link_name=="Facebook" %}
            <a href='{{post.link}}' target='_blank'>
                <i class="fa-brands fa-facebook h1"></i>
            </a>
            {%endif%}
            {%if post.link_name=="Youtube" %}
            <a href='{{post.link}}' target='_blank'>
                <i class="fa-brands fa-youtube h1 text-danger"></i>
            </a>
            {%endif%}
        </div>
    </div>
    {% endfor %}
    {%else%}
    <h1>
        THIS IS {{brandie}}'S SPECIAL PAGE
    </h1>
    {%endif%}
</div>
{% endblock content %}
