{% extends 'base2.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bio_phone_small.css') }}">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  {% endblock head %}


{% block content %}


<main style="margin-top: 28px">
  <div class="container pt-5">
      <!-- This is goto links div-->
      <div class="row mb-4">
          <div class="container-fluid align-self-end mt-5">
              <h2><b>Bio Pages</b></h2>
              {% if display %}
                  <form action="" method="post" id="filter_form" class="d-none">
                      <input type="text" id="datepicker_input" name="date">
                  </form>
                  <button class="btn" id="datepicker-btn">
                      <i class="fa fa-calendar px-2"></i>Filter by Date
                  </button>
                  <button class="{% if not refresh %} d-none {% endif %}"><i class="fas fa-times" id="close_btn"></i></button>
              {% endif %}
          </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {% if bio_pages %}
              {% for post in bio_pages|reverse %}
                  <div class="col mb-4">
                      <div class="card" style="background-color:lavender;">
                          <div class="card-body d-flex flex-column">
                              <div class="mb-4">
                                  <div class="smartphone">
                                      <i class="text-center fa fa-user text-primary rounded-circle p-4 mx-3"></i>
                                      <div class='mx-2 text-center'><small><a href="{{url_for('user_blp.bio_link_pages_details', bio_id=post.id)}}">Link</a></small></div>
                                  </div>
                              </div>
                              <div class="mb-4">
                                  <a href="{{url_for('user_blp.bio_link_pages_details', bio_id=post.id)}}">
                                      <h4>{{ host_url }}bio/{{post.bio_name}}</h4>
                                  </a>
                                  <div><i class="bi bi-bar-chart-fill text-muted"></i>Click Data ({{ post.clicks }})</div>
                                  <div><i class="bi bi-calendar text-muted"></i> {{ post.created_at.strftime('%B %d, %Y ') }}</div>
                              </div>
                              <div class="text-muted mt-auto">
                                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal11{{post.id}}"><i class="bi bi-pencil-square"></i>Edit</button>
                                  <button><i class="bi bi-three-dots"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="modal fade" id="exampleModal11{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
                      <!-- Modal content -->
                  </div>
              {% endfor %}
          {% else %}
              <div class="col-sm mt-5">
                  <h2 class="text-center"><b>No Bio Page</b></h2>
                  <img src="{{ url_for('static', filename='spanner-man.jpg') }}" class="mx-auto d-block img-thumbnail"/>
              </div>
          {% endif %}
      </div>
  </div>
</main>


<script>
  close_btn = document.getElementById('close_btn');
  close_btn.addEventListener('click', function () {
    window.location.href = '/BioLinkPages';
  })

  document.addEventListener('DOMContentLoaded', function () {
      // Initialize Bootstrap datepicker
      $('#datepicker-btn').datepicker({
          autoclose: true,
          format: 'yyyy-mm-dd'
      }).on('changeDate', function (e) {
          // Get the selected date value
          var selectedDate = e.format('yyyy-mm-dd');
          console.log('Selected Date:', selectedDate);
          document.querySelector('#datepicker_input').value = selectedDate;
          document.querySelector('#filter_form').submit();
      });
  });
</script>

{% endblock content %}
