{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='biolink.css') }}">
  {% endblock head %}
{% block content %}

  <section class="py-4">

    <div class="row align-items-center py-8">
  <div class="col-md-8 p-3 card">

      <h1 class="display-4 fw-bold mb-4">
                    Bio Pages                </h1>
                <p class="lead opacity-8 ">
                    Convert your followers by creating beautiful pages that group all of your important links on the single page.                </p>
                <p class="my-5">
                    <a href="" class="btn btn-primary px-5 py-3 fw-bold">Get Started</a>

                </p>
  </div>
  <div class="col-md-4 p-3 card">
  <div class="card gradient-primary border-0 shadow p-5">
                    <span class="rounded-circle mb-3 d-block bg-white mx-auto opacity-8" style="width:100px;height:100px"><img src="static/js/boy.jpg" class="img-fluid rounded-circle"></span>
                    <h3 class="text-white fw-bold"><span>Bio</span></h3></em>

                    <div id="content" class="mt-5">
                        <div class="item mb-3">
                            <a href="#" class="btn d-block btn-light text-primary shadow-sm py-3">🛒 New Merch</a>
                        </div>
                        <div class="item mb-3">
                            <a href="#" class="btn d-block btn-light text-primary shadow-sm py-3">🔥 Tickets</a>
                        </div>
                        <div class="item mb-3">
                            <a href="#" class="btn d-block btn-light text-primary shadow-sm py-3">🔥 Shop</a>
                        </div>
                    </div>
                </div>

  </div>
</div>
</section>
<div class="container-fluid bg-success text-white text-center py-5">
    <h1>Create Your Bio Link Page</h1>
    <p class="lead">Share all your important links in one place.</p>
    <a href="{{ url_for('user_blp.home') }}" class="btn btn btn-lg" style="background: rgb(49, 171, 67) !important;">Get Started</a>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Personalize</h2>
            <p class="text-center">Customize your bio link page with your own profile picture and bio.</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Multiple Links</h2>
            <p class="text-center">Add links to your social media profiles, websites, and more.</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Easy Sharing</h2>
            <p class="text-center">Share your bio link with your audience through social media, email, and more.</p>
        </div>
    </div>
</div>

{% endblock content %}