{% extends 'base.html' %} 
{% block title %}Login Page{% endblock title %}
{% block content %}
<style>
    .containerr {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px 20px;
        text-align: center;
        background-color: #f3f3f3;
        border-radius: 8px;
    }

    h1 {
        font-size: 36px;
        color: #333;
        margin-top: 0;
    }
</style>

<div class="containerr mt-5">
    <h1>
        THIS IS {{brandie}}'S SPECIAL PAGE
    </h1>
</div>
{% endblock content %}
