{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<main style="margin-top: 58px">
  <div class="container pt-4">
<div class="box">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

      <div class="container containered mt-5" style="max-width: 600px;">
      <h3 >Choose A Unique Name Or Business</h3>

    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

 </div>



</div>
  </div>
</main>
{% endblock content %}
