{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
  {% endblock head %}
{% block car %}
<div class="dashdiv">
    <div class="d-flex justify-content-end py-3 container align-item-center">
        <div>
        <a href="{{url_for('user_blp.admin')}}" class="btn" style="margin-right: .6rem;">Create Product</a>
        <a href="{{url_for('user_blp.shorten_url')}}" class="btn">Shorten Url</a>
    </div>
    </div>
</div>
{% endblock car %}

{% block content %}

<div class="">
    {% if all_posts %}
    <div class="rows">
        {% for post in all_posts|reverse %}
        <span style="display: none" id="{{post.id}}">
            {{host_url}}{{brandie.lower()}}/{{post.linkname}}
          </span>
          <div class="cols">
            <div class=" mb-4 stylethis">
              <div class="card">
                <a class=' text-muted h4 py-3 fw-bold text-decoration-none text-center' href="{{url_for('user_blp.product', brandname=brandie.lower(), linkname=post.linkname)}}">{{ post.linkname.upper() }} </a>
                <!-- Add more content here as needed -->
                <div style='display: flex; justify-content: space-evenly; align-items: center;' class="mt-3 w-75 m-auto">
                    {%if post.link_name=="Twitter" %}
                    <a href='{{post.link}}' target='_blank'>
                      <i class="fa-brands fa-twitter h4 text-info stylethis2 rounded-circle p-2"></i>
                    </a>
                    {%endif%}
                    {%if post.link_name=="Facebook" %}
                    <a href='{{post.link}}' target='_blank'>
                      <i class="fa-brands fa-facebook h4 text-primary stylethis2 rounded-circle p-2"></i>
                    </a>
                    {%endif%}
                  </div>
                  <hr>
                  <p class="position-relative text-muted rounded p-1 mb-2 fw-bold mt-2 m-auto d-flex justify-content-around align-item-center"
                    style="width: fit-content;">
                    <span class="ms-4">Clicks</span>
                    <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: .7rem;
                      margin-left: -25px;
                      ">
                      {{post.clicks}}
                      <span class="visually-hidden">Clicks</span>
                    </span>
                    <a href="/delete/{{post.linkname}}" onclick="return confirmDelete()">
                      <i class="fa fa-trash-alt text-danger ms-5"></i>
                    </a>
                    <i class="fa fa-copy ms-5 h6 text-muted h-100" id="copyme{{post.id}}" style="cursor: pointer;"></i>
                  </p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="stylethis2 m-auto" style="width: fit-content;">
            <h1 class="text-center m-auto p-3">No Products Yet</h1>
        </div>
      {% endif %}
<!-- url short -->
      {% if url_short %}
      <h5 class="mt-4">SHORTENED URLS</h5>
      <div class="rows">
        {% for url in url_short|reverse %}
        
          <div class="cols">
            <div class=" mb-4 stylethis">
              <div class="card">
                <!-- Add more content here as needed -->
                <div class="mt-3 w-75 m-auto">
                    <!-- original and short url -->
                    <p>{{url.url}}</p> <br>
                    <a href='{{url.short_url}}' target='_blank'>
                      {{host_url}}{{url.short_url}}
                    </a>
                  </div>
                  <hr>
                  <p class="position-relative text-muted rounded p-1 mb-2 fw-bold mt-2 m-auto d-flex justify-content-around align-item-center"
                    style="width: fit-content;">
                    <span class="ms-4">Clicks</span>
                    <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: .7rem;
                      margin-left: -25px;
                      ">
                      {{url.clicks}}
                      <span class="visually-hidden">Clicks</span>
                    </span>
                    <a href="/urls/delete/{{url.id}}" onclick="return confirmDelete()">
                      <i class="fa fa-trash-alt text-danger ms-5"></i>
                    </a>
                    <!-- <i class="fa fa-copy ms-5 h6 text-muted h-100" id="copyme2{{url.id}}" style="cursor: pointer;"></i> -->
                  </p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        {% else %}
        <!-- <div class="stylethis2 m-auto" style="width: fit-content;">
            <h1 class="text-center m-auto p-3">No Products Yet</h1>
        </div> -->
      {% endif %}
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const copyIcons = document.querySelectorAll(".fa-copy");
  
      copyIcons.forEach((icon) => {
        icon.addEventListener("click", function () {
          const postId = icon.id.replace("copyme", "");
          const linkSpan = document.getElementById(postId);
  
          if (linkSpan) {
            const textArea = document.createElement("textarea");
            textArea.value = linkSpan.innerText;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            document.body.removeChild(textArea);
  
            // Optionally, you can display a notification or a tooltip to indicate successful copy
            alert("Link copied to clipboard!");
          }
        });
      });
    });
  
    function confirmDelete() {
      return confirm('Are you sure you want to delete?');
    }
  </script>

{% endblock content %}