{% extends 'base2.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
  {% endblock head %}

{% block car %}
<div class="container background-gray-10 mt-3" >
<main style="margin-top: 8px">
  <div class="container pt-4">
<div class="dashdiv">
     <div class="d-flex flex-row">
        <div class="p-2">
<!--        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">-->
<!--      CREATE NEW-->
<!--             <i class="fa fa-plus" aria-hidden="true"></i>-->
<!--    </button>-->

    </div>
    </div>
</div>
      </div>
</main>
{% endblock car %}

{% block content %}


<main style="margin-top: 28px">
  <div class="container pt-4">

    <section style="background-color: #eee;">
      <div class="container py-5">
    
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body d-flex justify-content-between align-items-center p-5">
                <span class="fw-bold">QR CODES</span>
                <span class="badge bg-primary p-2 rounded badge-pill">{{current_user.qr_code|length}}</span>
              </div>
            </div>
            <div class="card mb-4 mb-lg-4">
              <div class="card-body d-flex justify-content-between align-items-center p-5">
                <span class="fw-bold">SHORT LINKS</span>
                <span class="badge bg-primary p-2 rounded badge-pill">{{current_user.urlshort|length}}</span>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body d-flex justify-content-between align-items-center p-5">
                <span class="fw-bold">BIO</span>
                <span class="badge bg-primary p-2 rounded badge-pill">{{current_user.bio_name|length}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">User Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ current_user.username.upper()}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ current_user.email}}</p>
                  </div>
                </div>
                {% if current_user.last_name and current_user.first_name %}
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ current_user.last_name}} {{ current_user.first_name}}</p>
                  </div>
                </div>
                {% endif %}

                {% if current_user.brand_name %}
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Brand Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ current_user.brand_name}}</p>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-4"><span class="text-primary font-italic me-1">Recent Short Links</span>
                      </p>
                      {% for link in current_user.urlshort[::-1][:3] %}
                      <div class="card-body d-flex justify-content-start align-items-start">
                        <!-- <span class="fw-bold">{{loop.index}}</span> -->
                        <span class="badge bg-primary p-2 rounded badge-pill mx-3">{{request.host_url}}{{link.short_url}}</span>
                      </div>
                      {% endfor %}

                      <a href="{{url_for('user_blp.shorten_url')}}" class="text-decoration-none">See All</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-4"><span class="text-primary font-italic me-1">Recent QR Codes</span>
                      </p>
                      {% for qr_code in current_user.qr_code[::-1][:2] %}
                      <div class="card-body d-flex justify-content-start align-items-start">
                        <!-- <span class="fw-bold">{{loop.index}}</span> -->
                        <div class="col-sm"> 
                          <img src="data:image/png;base64,{{ qr_code.qr_data }}" 
                          height="50" width="50"
                          alt="QR Code"
                          class="mx-auto d-flex img-thumbnail mb-0">
                      </div>
                      <span class="badge bg-primary p-2 rounded badge-pill ">{{request.host_url}}{{qr_code.short_url}}</span>
                      </div>
                      {% endfor %}

                      <a href="{{url_for('user_blp.qr_codes')}}" class="text-decoration-none">See All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




<!-- This is goto links  div-->


      <!-- <div class="container-fluid container mt-3">

          <div class="card px-5 py-5">

           <div class="row ">

        <div class="col-sm">
            <div class="card-body width-full d-flex" style="background-color:lavender;">
            <a href="{{url_for('user_blp.display_urls')}}" class="text-center m-auto p-3">Go to Links</a>
             </div>

        </div>


       <div class="col-sm">
            <div class="card-body width-full d-flex"  style="background-color:lavenderblush;">
            <a href="{{url_for('user_blp.display_qr_codes')}}" class="text-center m-auto p-3">Go to QR CODES</a>
             </div>
        </div>


      <div class="col-sm">
            <div class="card-body width-full d-flex"  style="background-color:lavender;">
            <a href="{{url_for('user_blp.bio_link_pages')}}" class="text-center m-auto p-3">Go to Bio Pages</a>
             </div>
        </div>
  </div>
     </div>
     </div>


        <div class="px-5 py-5 mx-5 my-5">
           <div class="row ">

        </div>
            </div> -->









<!--<div class="">-->
<!--    {% if all_posts %}-->
<!--    <div class="rows">-->
<!--        {% for post in all_posts|reverse %}-->
<!--        <span style="display: none" id="{{post.id}}">-->
<!--            {{host_url}}{{brandie.lower()}}/{{post.linkname}}-->
<!--          </span>-->
<!--          <div class="cols">-->
<!--            <div class=" mb-4 stylethis">-->
<!--              <div class="card card_this">-->
<!--                <a class=' text-muted h4 py-3 fw-bold text-decoration-none text-center' href="{{url_for('user_blp.product', brandname=brandie.lower(), linkname=post.linkname)}}">{{ post.linkname.upper() }} </a>-->
<!--                &lt;!&ndash; Add more content here as needed &ndash;&gt;-->
<!--                <div style='display: flex; justify-content: space-evenly; align-items: center;' class="mt-3 w-75 m-auto">-->
<!--                    {%if post.link_name=="Twitter" %}-->
<!--                    <a href='{{post.link}}' target='_blank'>-->
<!--                      <i class="fa-brands fa-twitter h4 text-info stylethis2 rounded-circle p-2"></i>-->
<!--                    </a>-->
<!--                    {%endif%}-->
<!--                    {%if post.link_name=="Facebook" %}-->
<!--                    <a href='{{post.link}}' target='_blank'>-->
<!--                      <i class="fa-brands fa-facebook h4 text-primary stylethis2 rounded-circle p-2"></i>-->
<!--                    </a>-->
<!--                    {%endif%}-->
<!--                  </div>-->
<!--                  <hr>-->
<!--                  <p class="position-relative text-muted rounded p-1 mb-2 fw-bold mt-2 m-auto d-flex justify-content-around align-item-center"-->
<!--                    style="width: fit-content;">-->
<!--                    <span class="ms-4">Clicks</span>-->
<!--                    <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: .7rem;-->
<!--                      margin-left: -25px;-->
<!--                      ">-->
<!--                      {{post.clicks}}-->
<!--                      <span class="visually-hidden">Clicks</span>-->
<!--                    </span>-->
<!--                    <a href="/delete/{{post.linkname}}" onclick="return confirmDelete()">-->
<!--                      <i class="fa fa-trash-alt text-danger ms-5"></i>-->
<!--                    </a>-->
<!--                    <i class="fa fa-copy ms-5 h6 text-muted h-100" id="copyme{{post.id}}" style="cursor: pointer;"></i>-->
<!--                  </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        {% endfor %}-->
<!--        </div>-->
<!--        {% else %}-->

<!--      {% endif %}-->
<!--&lt;!&ndash; url short &ndash;&gt;-->
<!--      {% if url_short %}-->
<!--      <h5 class="mt-4 text-center">SHORTENED URLS</h5>-->
<!--      <div class="rows">-->
<!--        {% for url in url_short|reverse %}-->

<!--          <div class="cols">-->
<!--            <div class=" mb-4 stylethis">-->
<!--              <div class="card">-->
<!--                &lt;!&ndash; Add more content here as needed &ndash;&gt;-->
<!--                <div class="mt-3 w-75 m-auto">-->
<!--                    &lt;!&ndash; original and short url &ndash;&gt;-->
<!--                    <p>{{url.url}}</p> <br>-->
<!--                    <a href='{{url.short_url}}' target='_blank'>-->
<!--                      {{host_url}}{{url.short_url}}-->
<!--                    </a>-->
<!--                  </div>-->
<!--                  <hr>-->
<!--                  <p class="position-relative text-muted rounded p-1 mb-2 fw-bold mt-2 m-auto d-flex justify-content-around align-item-center"-->
<!--                    style="width: fit-content;">-->
<!--                    <span class="ms-4">Clicks</span>-->
<!--                    <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger" style="font-size: .7rem;-->
<!--                      margin-left: -25px;-->
<!--                      ">-->
<!--                      {{url.clicks}}-->
<!--                      <span class="visually-hidden">Clicks</span>-->
<!--                    </span>-->
<!--                    <a href="/urls/delete/{{url.id}}" onclick="return confirmDelete()">-->
<!--                      <i class="fa fa-trash-alt text-danger ms-5"></i>-->
<!--                    </a>-->
<!--                    &lt;!&ndash; <i class="fa fa-copy ms-5 h6 text-muted h-100" id="copyme2{{url.id}}" style="cursor: pointer;"></i> &ndash;&gt;-->
<!--                  </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        {% endfor %}-->
<!--        </div>-->
<!--        {% else %}-->
<!--        &lt;!&ndash; <div class="stylethis2 m-auto" style="width: fit-content;">-->
<!--            <h1 class="text-center m-auto p-3">No Products Yet</h1>-->
<!--        </div> &ndash;&gt;-->
<!--      {% endif %}-->

<!--      &lt;!&ndash; qr code &ndash;&gt;-->
<!--      {% if qr_codes_ %}-->
<!--      <h5 class="mt-4 text-center">QR CODES</h5>-->

<!--      <div class="rw_this">-->
<!--        {% for url in qr_codes_|reverse %}-->

<!--        <div class="col_this card p-3">-->
<!--            <a href="{{ url.url }}" class="text-center mx-auto w-100">-->
<!--                {{ url.url }}-->
<!--            </a>-->
<!--            <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ url.url }}"-->
<!--                alt="QR Code" class="mx-auto d-flex img-thumbnail mt-3" style="margin-bottom: 4rem;" />-->

<!--            &lt;!&ndash; Add a Font Awesome download icon and trash icon side by side &ndash;&gt;-->
<!--            <div class="d-flex justify-content-around align-items-center mt-5 mb-4 w-100 position-absolute bottom-0">-->
<!--                <a href="javascript:void(0);" onclick="downloadQR('{{ url.url }}', '{{ url.id }}')" class="">-->
<!--                    <i class="fas fa-download h4"></i>-->
<!--                </a>-->
<!--                <a href="/qr_codes/delete/{{url.id}}" onclick="return confirmDelete()" class="">-->
<!--                    <i class="fas fa-trash-alt text-danger h4"></i>-->
<!--                </a>-->
<!--            </div>-->

<!--            &lt;!&ndash; <i class="fa fa-copy ms-5 h6 text-muted h-100" id="copyme2{{url.id}}" style="cursor: pointer;"></i> &ndash;&gt;-->
<!--        </div>-->

<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% endif %}-->
<!--    </div>-->
<!--  </div>-->


<!--  &lt;!&ndash; Modal &ndash;&gt;-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Choose Your Bio Name</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">
       <div>
         <div class="mb-3">
           <form action="{{url_for('user_blp.update_brandname')}}" method="post" class="form-group">
             <input type="text" class="form-control" name="brandname">
             <button type="submit" class="btn btn-secondary" name="bt2">Submit</button>
           </form>
           <div id="emailHelp" class="form-text">Your bio is your identity</div>
         </div>
       </div>
       <style>
         .btn-secondary {
              margin-top: 10px;
              font-size: 1rem;
              padding: 5px;
          }
      </style>
     </div>
   </div>
 </div>
</div>


 <!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Create New</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="{{url_for('user_blp.shorten_url')}}" class="btn">Create Short Url</a>
        <a href="{{url_for('user_blp.qr_codes')}}" class="btn">Create QR Codes</a>
        {% if not current_user.brand_name %}
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create Link-in-Bio
        </button>
        {% else %}
        <a href="{{url_for('user_blp.admin')}}" class="btn">Create Link-in-Bio</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const copyIcons = document.querySelectorAll(".fa-copy");

      copyIcons.forEach((icon) => {
        icon.addEventListener("click", function () {
          const postId = icon.id.replace("copyme", "");
          const linkSpan = document.getElementById(postId);

          if (linkSpan) {
            const textArea = document.createElement("textarea");
            textArea.value = linkSpan.innerText;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            document.body.removeChild(textArea);

            // Optionally, you can display a notification or a tooltip to indicate successful copy
            alert("Link copied to clipboard!");
          }
        });
      });
    });

    function confirmDelete() {
      return confirm('Are you sure you want to delete?');
    }
  </script>
          </div>

</main>
</div>
{% endblock content %}
