<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body style="font-family: 'Georgia', serif; background-color: #f5f5f5; padding: 20px;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
        <p style="text-align: center; font-size: 18px;">Hi there!</p>
        <p style="text-align: center;">You are receiving this email because you created your user account at Iszify.</p>
        <p style="text-align: center; margin-top: 20px;">Please verify your email with this OTP</p>
        <p style="text-align: center; font-size: 24px; margin-top: 20px; background-color: #e5f3fc; padding: 10px; border-radius: 5px;">
            <strong>{{otp}}</strong></p>
        <p style="text-align: center; margin-top: 20px;">Thank you!</p>
    </div>

</body>
</html>
