<!-- Footer Start -->
<div class="container-fluid text-light footer bg-dark  wow fadeIn" data-wow-delay="0.1s" id="footer">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-sm">
                <h4 class="text-light mb-4 text-center">Address</h4>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-map-marker-alt me-2 "></i>123 Iszify Street, Lagos Nigeria</p>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-phone-alt me-2 "></i>+234 814 000 0000</p>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-envelope me-2 "></i>info@iszify.com</p>
                <div class="d-flex pt-2 justify-content-center">
                    <a class="btn btn-outline-light btn-social reduce_this me-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social reduce_this me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social reduce_this me-2" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social reduce_this" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-sm">
                <h4 class="text-light mb-4 text-center">Our Products</h4>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-link" aria-hidden="true"></i> LINK SHORTENER</p>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-qrcode" aria-hidden="true"></i> QR CODE</p>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-hashtag" aria-hidden="true"></i> BIO PAGES</p>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-hashtag" aria-hidden="true"></i> API Integrations</p>


            </div>

              <div class="col-sm">
                <h4 class="text-light mb-4 text-center">Company</h4>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-link" aria-hidden="true"></i> About Iszify</p>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-qrcode" aria-hidden="true"></i> Contact us</p>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-hashtag" aria-hidden="true"></i> Copyright</p>
                <p class="mb-2 text-center reduce_this"><i class="fa fa-hashtag" aria-hidden="true"></i> Report Malicious URL</p>


            </div>

            <div class="col-sm">
                <h4 class="text-light mb-4 text-center">Newsletter</h4>
                <p class="text-center reduce_this">Enter your email to get the latest news.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-2 ps-4 pe-5 shadow-none reduce_this" type="text" placeholder="Your email">
                    <button type="button"
                        class="btn btn-primary py-2 position-absolute top-0 end-0 reduce_this border-0 shadow-none">SignUp Free</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-2 reduce_this">
        &nbsp; <a class="border-bottom text-decoration-none text-primary footer-link" href="#"> Iszify.com </a>   &copy;  2024, Proudly Nigeria 💚.
    </div>
</div>

<style>
    #footer {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    a.btn-outline-light:hover {
        color: #1e248c !important;
    }

    .footer-link:hover {
        color: #ffffff !important;
    }
    .reduce_this{
        font-size: 13px !important;
    }
</style>
<!-- Footer End -->