{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  {% endblock head %}
{% block content %}

  <div class="box">


    <!-- CTA Section -->
  <section class="cta-section row my-3 d-flex px-4 px-lg-5 mb-5">
    <div class="container col-lg-4">
      <h1 class="display-6" style="font-size: 3rem; font-weight: 700;">Automatic, Secure<br> <span class="text-primary">&</span> Dynamic<br>  
        <span class="gradient-primary clip-text" data-toggle="typed" data-list="Links.,QR Codes.,Bio Pages."></span></h1>

      <p class="fs-6 mb-3">Create short or customise URLs for free </p>
      <form method="POST" action="" class="mb-3 border rounded">
		<div class="input-group input-group-lg align-items-center">
      {% if show %}
        <input type="text" class="form-control border-0 shadow-none" autocomplete="off" placeholder="" name="url" id="url" style="font-size: 14px;" value="{{ shortened_url }}">
      <div class="input-group-append">
        <span class="btn btn-primary border-0"  onclick="copyText()" name="bt1">Copy</span>
        </div>
      {% else %}
      <input type="text" class="form-control border-0 shadow-none" autocomplete="off" placeholder="Paste a long url" name="url" id="url" style="font-size: 14px;">
      <div class="input-group-append">
        <button class="btn btn-primary border-0" type="submit" name="bt1">Shorten</button>
        </div>
      {% endif %}
		</div>
		</form>
    {% if show %}
    <div class="">
        <p class="text-success" style="font-size: 13px;">Register to get QR code and get more of your link</p>
    </div>
    {% endif %}
      <div >
      	<p>
		<ul class="list-unstyled mb-2 text-muted small">
		<li class="mb-1"><i class="bi bi-check-circle me-2"></i> Start free, upgrade later</li>
		<li class="mb-1"><i class="bi bi-check-circle me-2"></i> No credit card required</li>
		<li class="mb-1"><i class="bi bi-check-circle me-2"></i> Easy to use</li>
		</ul>
		</p>
        <a href="" class="btn btn-primary border-0 d-flex align-items-center" style="font-size: 14px; width: fit-content;">
          Get Started for Free &nbsp;<i class="bi bi-arrow-right-circle-fill h5"></i></a>
		</div>

    </div>
    <div class="col-lg-5">
      <div class="p-3" style="border: 1px solid rgb(218, 212, 212); border-radius: 12px;">
      <div class="d-flex align-items-center justify-content-between">
        <p class="d-flex justify-content-start container fw-bold">QR CODE</p>
        <p style="background: blue; color: white; font-size: 13px; width: fit-content; border-radius: 13px;" class="px-2 py-1">Download</p>
      </div>
      <div class="d-flex align-items-center justify-content-start">
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://www.linktools.io" alt="QR Code" class="img-thumbnail" />
        <div class="d-flex flex-column justify-content-start align-items-start ms-3">
          <div class="d-flex justify-content-start align-items-center"><i class="bi bi-box-arrow-up-right h5 text-primary me-1"></i> <span class="" style="font-size: 14px;">https://www.linktools.io</span> </div>
          <!-- date -->
          <div class="d-flex justify-content-start align-items-center"><i class="bi bi-clock h5 text-primary me-1"></i><span style="font-size: 14px;">22 May 2022</span> </div>
        </div>
      </div>
    </div>
    </div>
  </section>

    <hr>

    <section class="bg-dark" style="padding-top: 10rem;">
      <div class="container text-white">
        <div class="row justify-content-start container ms-5">
          <div class="col-md-6 col-lg-6">
            <p class="" style="font-size: 12px; font-weight: 400; font-style: italic;"><i class="fa-solid fa-fire-flame-curved text-danger"></i> Growth hack your way to the top!</p>
            <h4 class="my-4" style="text-transform: uppercase; font-size: 30px;">All that defines you, in a single, straightforward bio link.</h4>
            <button type="button" class="btn btn-primary border-0 d-flex align-items-center mb-5" style="font-size: 14px; width: fit-content;" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Create Free Bio Page
            </button>
          </div>
        </div>
      </div>
    </section>

  
  <!-- <div class="jumbotron">
    <h2 class="display-6 fw-bolder my-4"><strong>All that defines you, in a single, straightforward bio link.</strong></h2>
    <p class="fs-5 mb-5 text-center">A single link to simplify the sharing of all your profiles accounts from your Facebook, Instagram, TikTok, Twitter,<br> YouTube, and various other social media profiles..
           </p>
    <button type="button" class="btn btn-primary my-btn px-4 py-3 fw-bold mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create Free Bio Page
    </button>

  </div> -->
  <section class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h2 class="fw-bold my-5">Why Choose LinkTools?</h2>
        <!-- grid -->
        <div class="row justify-content-start">
          <div class="col-md-6 col-lg-4 border-0 fw-bold py-3 ps-3 text-primary" style="background: whitesmoke; border-radius: 10px;">100k <br><span class="fw-normal text-muted" style="font-size: 11px;">Active Users</span></div>
          <div class="col-md-6 col-lg-4 border-0 fw-bold py-3 ps-3 text-primary" style="background: whitesmoke; border-radius: 10px;">50k <br><span  class="fw-normal text-muted"style="font-size: 11px;">Links Created</span></div>
          <div class="col-md-6 col-lg-4 border-0 fw-bold py-3 ps-3 text-primary" style="background: whitesmoke; border-radius: 10px;">500+ <br><span class="fw-normal text-muted" style="font-size: 11px;">Integration</span></div>
          <div class="col-md-6 col-lg-4 border-0 fw-bold py-3 ps-3 text-primary" style="background: whitesmoke; border-radius: 10px;">99% <br><span  class="fw-normal text-muted"style="font-size: 11px;">Success Rate</span></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <img src="{{ url_for('static', filename='ai.jpg') }}" alt="Image" class="img-fluid">
      </div>
    </div>
  </section>
<hr>

    <!-- Features Section -->
  <!-- <section class="features">
    <div class="contaner">
       <h2 class="display-6 fw-bolder my-4">WHAT YOU CAN DO WITH LINKTOOLS</h2>
      <div class="row">

        <div class="col-md-4 p-3 card">
          <i class='bi bi-megaphone-fill' style="font-size:3rem"></i>
          <h4>Reach More Listeners</h4>
          <p>Give your fans one-click access to your music on Spotify, Apple Music, SoundCloud
            and any other music store or platform.</p>
        </div>
        <div class="col-md-4 p-3 card">
          <i class='bi bi-diagram-3-fill' style="font-size:3rem"></i>
          <h4>Unite Your Contents</h4>
          <p>Grow, own and engage your audience by unifying them in one place. </p>
        </div>
        <div class="col-md-4 p-3 card">
          <i class='bi bi-bar-chart-fill' style="font-size:3rem"></i>
          <h4>Measure Fan Engagement</h4>
          <p>Easily monitor how many fans have viewed your bio and which link they went directly into.</p>
        </div>
      </div>
    </div>
  </section> -->



  <!-- Features Section -->
  <!-- <section class="jumbotron">
    <div class="contaner"> -->
      <!--<h2>Features</h2>-->
      <!-- <h2 class="display-6 fw-bolder my-4"><strong>FEEDBACKS FROM OUR SATISFIED USERS</strong></h2> <br>
      <div class="row">
        <div class="col-md-4 p-3 card">
          <i class="fa fa-user fa-3x"></i>
          <h4>Paul Smith</h4>
          <h5>(Artiste)</h5>
          <p>I'm really happy using LinkTools. It's easy to use and has helped me connect with my fans in a way that
            I never could before.</p>
        </div>
        <div class="col-md-4 p-3 card">
          <i class="fa fa-user fa-3x"></i>
          <h4>Sarah Banks</h4>
          <h5>(Actress)</h5>
          <p>LinkTools have been so reliable and always there for me when I need a quick link for my Bio.</p>
        </div>
        <div class="col-md-4 p-3 card">
          <i class="fa fa-user fa-3x"></i>
          <h4>Innocent David</h4>
          <h5>(Blogger)</h5>
          <p>I love using LinkTool URL Shortener to create custom URL for my web pages.</p>
        </div>
      </div>
    </div>
  </section> -->


  <section class="">
    <div class="m-auto">
        <h2 class="mb-5 review container w-75 fw-bold">Reviews</h2>
        <div class="row w-100">
            <div class="col-md-3 col-lg-3 pad_this card">
                <div class="firstreview">
                    <img src="{{ url_for('static', filename='woman.jpg') }}" alt="" class="rounded-circle">
                    <div class="d-flex flex-column mx-2">
                        <p style="font-size: 15px;"> <span class="text-muted">Sarah Lance</span> <br>
                            <span>Teacher</span> <br>
                            <span class="text-warning reviewstars">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                    class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </span>
                        </p>
                    </div>
                </div>
                <p class="text-muted" style="font-size: 13px;">Miles Auto gave me my baby, super cool and i have not even have a reason to visit
                    the mechanic.
                </p>
            </div>

            <div class="col-md-3 col-lg-3 pad_this card">
                <div class="firstreview">
                    <img src="{{ url_for('static', filename='man2.jpg') }}" alt="" class="rounded-circle">
                    <div class="d-flex flex-column mx-2">
                        <p style="font-size: 15px;"> <span class="text-muted">Andrew Ike</span> <br>
                            <span>Banker</span> <br>
                            <span class="text-warning reviewstars">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                    class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </span>
                        </p>
                    </div>
                </div>
                <p class="text-muted" style="font-size: 13px;">My last maintainance was awesome... such a great customer service. I came cynical
                    but i left optimist. Thanks Miles!</p>
            </div>

            <div class="col-md-3 col-lg-3 pad_this card">
                <div class="firstreview">
                    <img src="{{ url_for('static', filename='man3.jpg') }}" alt="" class="rounded-circle">
                    <div class="d-flex flex-column mx-2">
                        <p style="font-size: 15px;"> <span class="text-muted">Mark Johnson</span> <br>
                            <span>Engineer</span> <br>
                            <span class="text-warning reviewstars">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                    class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </span>
                        </p>
                    </div>
                </div>
                <p class="text-muted" style="font-size: 13px;">Affordable that is what I will say. Thank you Kenny for referring me.</p>
            </div>

            <div class="col-md-3 col-lg-3 pad_this card">
              <div class="firstreview">
                  <img src="{{ url_for('static', filename='man2.jpg') }}" alt="" class="rounded-circle">
                  <div class="d-flex flex-column mx-2">
                      <p style="font-size: 15px;"> <span class="text-muted">Fred Gareth</span> <br>
                          <span>Banker</span> <br>
                          <span class="text-warning reviewstars">
                              <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                  class="fas fa-star"></i> <i class="fas fa-star"></i>
                          </span>
                      </p>
                  </div>
              </div>
              <p class="text-muted" style="font-size: 13px;">My last maintainance was awesome... such a great customer service. I came cynical
                  but i left optimist. Thanks Miles!</p>
          </div>

          <div class="col-md-3 col-lg-3 pad_this card">
            <div class="firstreview">
                <img src="{{ url_for('static', filename='man2.jpg') }}" alt="" class="rounded-circle">
                <div class="d-flex flex-column mx-2">
                    <p style="font-size: 15px;"> <span class="text-muted">Martin James</span> <br>
                        <span>Banker</span> <br>
                        <span class="text-warning reviewstars">
                            <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i> <i class="fas fa-star"></i>
                        </span>
                    </p>
                </div>
            </div>
            <p class="text-muted" style="font-size: 13px;">My last maintainance was awesome... such a great customer service. I came cynical
                but i left optimist. Thanks Miles!</p>
        </div>

        <div class="col-md-3 col-lg-3 pad_this card">
          <div class="firstreview">
              <img src="{{ url_for('static', filename='man2.jpg') }}" alt="" class="rounded-circle">
              <div class="d-flex flex-column mx-2">
                  <p style="font-size: 15px;"> <span class="text-muted">Darren Fletcher</span> <br>
                      <span>Banker</span> <br>
                      <span class="text-warning reviewstars">
                          <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                              class="fas fa-star"></i> <i class="fas fa-star"></i>
                      </span>
                  </p>
              </div>
          </div>
          <p class="text-muted" style="font-size: 13px;">My last maintainance was awesome... such a great customer service. I came cynical
              but i left optimist. Thanks Miles!</p>
      </div>
        </div>
    </div>
</section>

  <!-- Features Section -->
  <!-- <section class="features-section">
    <div class="contaner">
     <h2 class="display-4 fw-bolder my-4"><strong>Let the numbers do the talking.</strong></h2><br>
      <div class="row">
        <div class="col-md-4 p-3 card text-center  py-5 px-2 px-lg-5 rounded">
		<h1 class="h1 text-capitalize text-primary"><span class="gradient-primary fw-bolder clip-text">Powering</span></h1>
		<div class="h1">
		<span class="counter">549</span>
		<span class="counter-extra">+</span>
		</div>
		<h3 class="h6 text-capitalize fw-bold">Links</h3>
		</div>
        <div class="col-md-4 p-3 card text-center  py-5 px-2 px-lg-5 rounded">
		<h1 class="h1 text-capitalize text-primary"><span class="gradient-primary fw-bolder clip-text">Serving</span></h1>
		<div class="h1">
		<span class="counter">165420</span>
		<span class="counter-extra">+</span>
		</div>
		<h3 class="h6 text-capitalize fw-bold">Clicks</h3>
		</div>
        <div class="col-md-4 p-3 card text-center  py-5 px-2 px-lg-5 rounded">
		<h1 class="h1 text-capitalize text-primary"><span class="gradient-primary fw-bolder clip-text">Trusted by</span></h1>
		<div class="h1">
		<span class="counter">50</span>
		<span class="counter-extra">+</span>
		</div>
		<h3 class="h6 text-capitalize fw-bold">Amazing Customers</h3>
		</div>
      </div>
    </div>
  </section> -->

<button type="button" class="btn btn-primary my-btn px-4 py-3 fw-bold mb-1 d-none" data-bs-toggle="modal" data-bs-target="#exampleModal1" id="myButton">
  Show
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose Your Bio Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="mb-3">
            <form action="" method="post" class="form-group">
              <input type="text" class="form-control" name="brandname">
              <button type="submit" class="btn btn-secondary" name="bt2">Submit</button>
            </form>
            <div id="emailHelp" class="form-text">Your bio is your identity</div>
          </div>
        </div>
        <style>
          .btn-secondary {
              margin-top: 10px;
              font-size: 1rem;
              padding: 5px;
          }
      </style>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
{% if show %}

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Shortened Link</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Short URL</h5>
                <p class="card-text text-center"><a href="{{ shortened_url }}" target="_blank">{{ shortened_url }}</a></p>
                <h5 class="card-title text-center">Original URL</h5>
                <p class="card-text text-center"><a href="{{ original_url }}" target="_blank">{{ original_url }}</a></p>
                <p class="d-flex justify-content-center m-auto align-items-center">
                    <img
                  src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ shortened_url }}"
                  alt="QR Code" style="display: flex; justify-content: center;" class="img-thumbnail mt-3"
                />
                </p>

                <div class="d-flex justify-content-around align-items-center mt-5 mb-4 w-100">
                  <a href="javascript:void(0);" onclick="downloadQR('{{ original_url }}', '{{ original_url.id }}')" class="bg-primary rounded px-2 py-1 text-white" style="width: fit-content;">
                      <i class="fas fa-download h4"></i>
                  </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  {% endif %}

    
<!-- 
<div class="row">

    <h3 class="title">Welcome</h3>

    <div class="col-lg-8 col-md-10 mx-auto">

              {% for post in all_posts %}


          <h2 class="post-title">
            <a href=" {{post.yourlink}}"> {{ post.linkname}}</a>
            <a href="{{ url_for('user_blp.profile', sub_path=post.author_name) }}" target="_blank">Posted by  {{ post.author_name}}</a>

            </h2>
        <hr>
        {% endfor %}

      </div>
  </div> -->

  <span id="showValue" style="display: none;">{{ show }}</span>
</div>


<script>
  function downloadQR(qrUrl, id) {
        fetch("https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + qrUrl)
            .then(response => response.blob())
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var link = document.createElement('a');
                link.href = url;
                link.download = "qr_code_" + id + ".png";
                link.click();
                window.URL.revokeObjectURL(url);
            });
    }




    document.addEventListener("DOMContentLoaded", function() {
    var showValueSpan = document.getElementById("showValue");
    var showValue = showValueSpan.textContent; // Get the value as lowercase
    
    // Check the value of `showValue` and show the button if it's "true"
    if (showValue == 1) {
      document.getElementById("myButton");
    }
  });

  async function copyText() {
    var copyText = document.getElementById("url");
    try {
        await navigator.clipboard.writeText(copyText.value);
        alert("Short url copied");
    } catch (err) {
        console.error('Failed to copy text: ', err);
    }
}


</script>



{% endblock content %}
