{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  {% endblock head %}
{% block content %}

  <div class="box">
  
  <div class="jumbotron">
    <h1>Welcome to your brand homepage!</h1>
    <p>This is where you can personalize your brand for your customers to see.</p>
    <a href="#" class="btn">Get started</a>
  </div>

  <!-- CTA Section -->
  <section class="cta-section">
    <div class="container">
      <h2>Boost Your Brand</h2>
      <p>Take your brand to the next level with our powerful customization features.</p>
      <a href="#register" class="btn btn-secondary">Get Started</a>
    </div>
  </section>

  <!-- Features Section -->
  <section class="features-section">
    <div class="container">
      <!--<h2>Features</h2>-->
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-heart fa-3x"></i>
          <h4>Personalized Experience</h4>
          <p>Create a unique and personalized brand experience for your customers.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-cogs fa-3x"></i>
          <h4>Easy Customization</h4>
          <p>Customize your brand's appearance and content with ease.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-lightbulb fa-3x"></i>
          <h4>Innovative Solutions</h4>
          <p>Stay ahead of the competition with our innovative brand solutions.</p>
        </div>
      </div>
    </div>
  </section>




    
<!-- 
<div class="row">

    <h3 class="title">Welcome</h3>

    <div class="col-lg-8 col-md-10 mx-auto">

              {% for post in all_posts %}


          <h2 class="post-title">
            <a href=" {{post.yourlink}}"> {{ post.linkname}}</a>
            <a href="{{ url_for('user_blp.profile', sub_path=post.author_name) }}" target="_blank">Posted by  {{ post.author_name}}</a>

            </h2>
        <hr>
        {% endfor %}

      </div>
  </div> -->
</div>




{% endblock content %}