{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="box">
	<h3 >Choose Your Bio Name</h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% if logged_in:%}
     <h1 >enjoy our site</h1>

    {% endif %}

    {% if not logged_in: %}

    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

    {% endif %}

    <!-- login form-->
<!--  <a href="{{ url_for('auth_blp.login') }}" class="btn btn-primary btn-block btn-large">Login</a>-->
<!--  <a href="{{ url_for('auth_blp.register') }}" class="btn btn-secondary btn-block btn-large">Register</a>-->

</div>

{% endblock content %}
