{% extends 'base.html' %} 
{% block title %}Login Page{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock head %}
{% block content %}

<form
  action=""
  method="post"
  autocomplete="off"
  class=" p-5 mb-5"
  style="
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-top: 7px solid palevioletred;
    max-width: 500px;
  margin: auto;
  margin-top: 2rem;
    "
>
  <h3 class="text-light">Login</h3>
  {{ form.hidden_tag() }}

  
  <!-- For Emails validations -->
  <!-- {{ form.email.label(class='label') }} -->
  {% if form.email.errors %} {{ form.email(class="form-control p-3 mt-4 shadow-none",
  required=False, placeholder="Enter email", autocomplete='off') }} {% for error in
  form.email.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small>
  {% endfor %} {% else %} {{ form.email(class="form-control p-3 mt-4 shadow-none",
  required=False, placeholder="Enter email", autocomplete='off') }} {% endif %}
  <!-- For password validations -->
  <!-- {{ form.password.label(class='label') }} -->
  {% if form.password.errors %} {{ form.password(class="form-control p-3 mt-4 shadow-none
  lead", required=False, placeholder='Enter password', autocomplete='off') }} {% for error in
  form.password.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small>
  {% endfor %} {% else %} {{ form.password(class="form-control p-3 mt-4 shadow-none lead",
  required=False, placeholder='Enter password', autocomplete='off') }} {% endif %}


  <!-- For submit button -->
  {{ form.submit(size=20, class='mybtn mt-4 w-100 p-2')}}

  <p class="text-light mt-3 small">
    Forgot password?
    <a
      class="text-warning fw-bold"
      style="text-decoration: none; font-weight: 500"
      href=""
      >Reset</a
    >
  </p>
</form>

{% endblock content %}