{%extends 'base.html'%}
{% block content %}
<div>
    <h1 class='text-muted text-center my-4'>{{check_product.linkname.upper()}}</h1>
</div>
<div class='card border m-auto' style='max-width: 600px;'>
    {%if check_product.link_name=="Twitter" %}
    <a href='{{check_product.link}}' target='_blank'>
        <img src="{{ url_for('static', filename='twitter.jpg') }}" class=' p-2 card border mt-1'
            style='width: 100%;' />
    </a>
    {%endif%}
    {%if check_product.link_name=="Amazon" %}
    <a href='{{check_product.link}}' target='_blank'>
        <img src="{{ url_for('static', filename='amazon.jpg') }}" class='p-2 card border mt-1'
            style='width: 100%;' />
    </a>
    {%endif%}
    {%if check_product.link_name=="Facebook" %}
    <a href='{{check_product.link}}' target='_blank'>
        <img src="{{ url_for('static', filename='facebook.jpg') }}" class=' p-2 card border mt-1'
            style='width: 100%;' />
    </a>
    {%endif%}
    {%if check_product.link_name=="Youtube" %}
    <a href='{{check_product.link}}' target='_blank'>
        <img src="{{ url_for('static', filename='youtube.jpg') }}" class=' p-2 card border mt-1'
            style='width: 100%;' />
    </a>
    {%endif%}
</div>
{%endblock content%}