{% extends "base.html" %}
{% block title %}QR Code: Generate and Brand QR Codes with Analytics | Linktools{% endblock title %}
{% block description %}Create customized and branded QR Codes, view analytics and scans for free {% endblock %}
{% block keywords %}qr codes, create qr codes, generate qr codes, free qr codes{% endblock %}


{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='qr_code_info.css') }}">
  {% endblock head %}
{% block content %}
<div class="container-fluid text-dark text-center py-5">
    <h1>Generate QR Codes</h1>
    <p class="" style="font-size: .9rem;">Create QR codes for your links, contacts, and more.</p>
    <a href="{{ url_for('user_blp.home') }}" class="btn btn-primary btn-lg border-0">Get Started</a>
</div>

<div class="mt-5 bg-dark py-5">
    <div class="row container text-white">
        <div class="col-md-4 col-lg-3">
            <h3 class="text-center">Easy to Use</h3>
            <p class="text-center" style="font-size: .9rem;">Our QR code generator is user-friendly and requires no technical expertise.</p>
        </div>
        <div class="col-md-4 col-lg-3">
            <h3 class="text-center">Customizable</h3>
            <p class="text-center" style="font-size: .9rem;">Tailor your QR codes with colors and styles to match your brand.</p>
        </div>
        <div class="col-md-4 col-lg-3">
            <h3 class="text-center">Multiple Types</h3>
            <p class="text-center" style="font-size: .9rem;">Generate QR codes for websites, contacts, WiFi access, and more.</p>
        </div>
    </div>
</div>
{% endblock content %}