{% extends 'base2.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/display_codes.css') }}">

<style>
    .flex-container {
        height: 300px;
        display: flex;
        padding: 10px;
    }
    .item {
        flex: auto;
        background: white;
        margin: 10px;
    }
    .item2 {
        flex: auto;
        background: LightGray;
        margin: 10px;
        height: 800px
        
    }


</style>
{% endblock head %}
{% block content %}
<!-- display in grids -->

<main style="margin-top: 100px">

            <ul class="breadcrumb mb-0">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">QR code</a></li>
              <li>Customize</li>
              </ul>

    <div class="flex-container">

        <div style="padding:2rem" class="item">

            <h2 class="text-primary"><b>Customize your QR Codes</b></h2><br>
            
            <form action="" method="post" enctype="multipart/form-data">
            <div class="rounded-pill h2">
                <h3>Choose your colors</h3>

            <!-- <p class="btn btn-dark rounded-pill" id="preset-0" style="background-color: rgb(0, 0, 0);"></p>
            <p class="btn btn-danger rounded-pill"  id="preset-1" style="background-color: rgb(222, 49, 33);"></p>
             <p class="btn btn-warning rounded-pill" id="preset-2" style="background-color: rgb(239, 128, 0);"></p>
             <p class="btn btn-success rounded-pill" id="preset-3" style="background-color: rgb(25, 134, 57);"></p>
             <p class="btn btn-primary rounded-pill" id="preset-4" style="background-color: rgb(34, 156, 224);"></p>
             <p class="btn btn-info rounded-pill" id="preset-5" style="background-color: rgb(42, 91, 215);"></p> -->

             <!-- color input -->

             <input type="color" name="color" id="preset-0"> <br>

             <div class="rounded-pill h2">
                <h3>Add a logo or center text</h3>

                <div class="">
                <i class="bi bi-images" id="image-icon" style="cursor: pointer;"></i> <span id="logo" style="font-size: .9rem;"></span>
            <input type="file" name="image" id="image_file" style="display: none;">
            <label>
                <input type="radio" name="placeholder_images" value="youtube"> <i class="bi bi-youtube text-danger"></i>
              </label>
              
              <label>
                <input type="radio" name="placeholder_images" value="facebook"> <i class="bi bi-facebook text-primary"></i>
              </label>
              
              <label>
                <input type="radio" name="placeholder_images" value="instagram"> <i class="fa-brands fa-instagram text-danger"></i>
              </label>
            
              <label>
                <input type="radio" name="placeholder_images" value="twitter"> <i class="fa-brands fa-twitter text-info"></i>
              </label>
            </div>

            </div>

             <!-- submit button -->
             <button type="submit" class="bg-success btn btn-success p-2 text-dark">save changes </button>

            </div>
            </form>
              <br><br>
            <!-- <div class="rounded-pill h2">
                <h3>Add a logo or center text</h3>

            <button type="button" class="btn-dark" id="preset-6" ><i class="bi bi-images"></i></button>
            <button type="button"  class="btn-danger" id="preset-7" > <i class="bi bi-youtube "></i></button>
             <button type="button"  class="btn-primary" id="preset-8"> <i class="bi bi-facebook"></i></button>
             <button type="button"  class="btn-danger" id="preset-9" ><i class="fa-brands fa-instagram"></i></button>
             <button type="button" id="preset-10"><i class="fa-brands fa-tiktok"></i></button>
             <button  type="button" class="btn-primary" id="preset-11" ><i class="fa-brands fa-twitter"></i></button><br><br>



            </div> -->
            
            <br><br>

            <!-- <div class="rounded-pill h2">
                <h3>Select a frame </h3>

            <p> <img src="/static/qr-code-frame7.png" width="100" height="100">
                <img src="/static/qr-code-frame2.png" width="100" height="100">
                <img src="/static/qr-code-frame3.png" width="100" height="100">
                <img src="/static/qr-code-frame4.png" width="100" height="100">
                <img src="/static/qr-code-frame5.png" width="100" height="100">
            </p>

             <p class="text-center mt-5 mx-5">  <button type="submit" class="btn btn-outline-light">Cancel</button><button type="submit" class="btn btn-primary btn-block">Save Changes</button></p>

            </div> -->



        </div>

        <div style="padding:1rem" class="item2">
                <img src="data:image/png;base64,{{ qrcode.qr_data }}" 
                alt="QR Code"
                class="mx-auto d-flex img-thumbnail mt-2 mb-0" 
                style="margin-bottom: 4rem; width: 200px;">
        </div>







  </div>
</main>

<script>
    // get the span
    var span = document.getElementById("logo");

    // get the input
    var input = document.getElementById("image_file");

    // get the button
    var button = document.getElementById("preset-6");

    // get the image icon
    var imageIcon = document.getElementById("image-icon");

    // when the image icon is been cliicked, click the input
    imageIcon.addEventListener("click", function() {
        input.click();
    });

    // when the input is been changed, span text is changed to the file name
    input.addEventListener("change", function() {
        span.innerHTML = input.files[0].name;
    });


</script>

{% endblock content %}
