{% extends 'base2.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/display_codes.css') }}">
{% endblock head %}
{% block content %}
<!-- display in grids -->

<main style="margin-top: 58px">
  <div class="container pt-4">

     <div class="container-fluid">

         <ul class="breadcrumb">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">QR code</a></li>
              <li>Analytics</li>
              </ul>
         <h3 class="mt-4"><b>QR CODE ANALYTICS</b></h3>

<!--         <p><a href="{{url_for('user_blp.display_qr_codes')}}" class="side_link text-decoration-none text-dark"> <b>< Back to list</b></a></p>-->
{% if urls %}
    {% for url in urls|reverse %}

    <div class="card " style="background-color:lavender;">
        <div class="row mt-3">
            <div class="card-text h4 mt-3 ms-3"><strong>{{ url.title }}</strong></div><br>
            {% if url.qr_data %}
        <div class="col-sm">
<!--            <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ url.url }}"-->
<!--            alt="QR Code" class="mx-auto d-flex img-thumbnail mt-2 mb-0" style="margin-bottom: 4rem;" />-->
            <img src="data:image/png;base64,{{ url.qr_data }}" alt="QR Code" class="w-100 m-auto d-flex justify-content-center img-thumbnail"/>
        </div>
            {% endif %}

        <div class="col-sm mt-1">
           <p class="ms-0">website</p>
         <i class="bi bi-arrow-return-right"></i><p class="ms-3"> <a href="{{ url.url }}" class="text-center mt-0  w-100 ">
            {{ url.url }}
        </a></p>
        </div>

        <!-- Add a Font Awesome download icon and trash icon side by side -->
        <div class="col-sm mt-3 ml-5 text-center">
            <button> <a href="" onclick="return confirmDelete()" class="">
                <i class="bi bi-three-dots-vertical h3"></i>
            </a> </button>
           <button> <a href="javascript:void(0);" onclick="downloadQR('{{ url.url }}', '{{ url.id }}')" class="">
                <i class="fas fa-download h4"></i> Download
            </a></button>
            <button> <a href="/qr_codes/delete/{{url.id}}" onclick="return confirmDelete()" class="">
                <i class="fas fa-trash-alt text-danger h4"></i>
            </a> </button>
            </div>


        <!-- <i class="fa fa-copy ms-5 h6 text-muted h-100" id="copyme2{{url.id}}" style="cursor: pointer;"></i> -->
    </div><hr>
        <div>
        <p class=" px-3 "> <i class="bi bi-bar-chart-fill"></i>Click Data ({{ url.clicks }})  |  <i class="fa fa-calendar px-2 "></i>
             {{ url.created_at.strftime('%Y-%m-%d, %H:%M:%S') }}
         | <i class="fa fa-link" aria-hidden="true"></i>shortlink.ng/{{ url.short_url }}
        </p></div>

        </div>
        </div>
    <hr>
    {% endfor %}
     {% endif %}
<!--      <div class="row">-->
<!--      <div class="col-sm mt-5">-->
<!--          <h3><b>Scan data</b></h3>-->

<!--          <img src="data:image/png;base64,{{ plot_url }}" alt="Clicks Chart">-->
<!--      </div>-->
<!--  </div>-->

<!--      <div class="row">-->
<!--      <div class="col-sm mt-5">-->
<!--          <h3><b>Scan by location</b></h3>-->

<!--          <img src="data:image/png;base64,{{ plot_url }}" alt="Clicks Chart">-->
<!--      </div>-->
<!--  </div>-->

      <div class=" mb-4">
        <div class="card">
      <div class="card-body bg-dark text-white">
      <h5 class="card-title">Qr Code Clicks Chart</h5>
      <canvas id="qrCodeChart"></canvas>
      </div>
      </div>
      </div>

      <div class="card bg-dark">
        <h4 class="text-white p-3">Views by countries</h4>
      <table class="table table-sm text-white">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
          {% for country in countries %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ country["country"]}}</td>
            <td>{{ country["count"]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <br>

    <div class="card bg-warning">
      <h4 class="text-dark p-3">Views by cities</h4>
    <table class="table table-sm text-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">City</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <!-- remove the border of tbody -->
      <tbody class="border-0">
        {% for city in cities %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ city["city"]}}</td>
          <td>{{ city["count"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>

  <div class="card bg-dark">
    <h4 class="text-white p-3">Views by devices</h4>
  <table class="table table-sm text-white">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Devices</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <!-- remove the border of tbody -->
    <tbody class="border-0">
      {% for device in devices %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ device["device"]}}</td>
        <td>{{ device["count"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br>

<div class="card bg-warning">
  <h4 class="text-dark p-3">Views by browsers</h4>
<table class="table table-sm text-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Browser</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <!-- remove the border of tbody -->
  <tbody class="border-0">
    {% for browser in browsers %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ browser["browser"]}}</td>
      <td>{{ browser["count"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


  </div>
</main>

<!-- Your custom scripts or charts libraries (e.g., Chart.js) -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

  const qrCodeData = {
    labels: {{ res|map(attribute='date')|list|tojson }},
    datasets: [{
      label: 'Qr Code Clicks',
      data: {{ res|map(attribute='clicks')|list|tojson }},
      backgroundColor: 'rgba(54, 162, 235, 0.2)',
      borderColor: 'rgba(54, 162, 235, 1)',
      borderWidth: 1
    }]
  };

  const qrCodeCtx = document.getElementById('qrCodeChart').getContext('2d');
  new Chart(qrCodeCtx, {
    type: 'bar',
    data: qrCodeData,
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Date'
          }
        },
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Clicks'
          }
        }
      }
    }
  });




</script>
{% endblock content %}
