{%extends 'base2.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/short.css') }}">
  {% endblock head %}
{% block content %}

<main style="margin-top: 58px">
  <div class="container pt-4">
<section class="body2">
<div class="container containered mt-5">
    <h1 class="text-center">Short URL Generator</h1>

    <form action="" method="POST">
        <div class="mb-3">
            <label for="originalUrl" class="form-label"><b>Enter the URL to shorten:</b></label>
            <input type="url" class="form-control" id="originalUrl" name="originalUrl" placeholder="https://example.com" required>
            <div class="invalid-feedback">
                Please enter a valid URL.
            </div>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label"><b>Title</b> (Optional)</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="">

        </div>

        <label for="customUrl" class="form-label"><b>Customise short URL (optional):</b></label>
        <div class="mb-3">
        <span style="float:left" ><label for="" class="form-label">Domain <i class="fa-solid fa-lock"></i></label></span>
        <span style="float:right"><label for="customUrl" class="form-label">Enter back-halve (optional):</label></span>
         </div>

        <div class="mb-3">
          <span style="float:left"> <input disabled type="text" class="form-control w-100" id="" name="" placeholder="shortlink.ng/">
          </span>

           <span style="float:right"> <input type="text" class="form-control w-100" id="customUrl" name="customUrl" placeholder="">
           </span>

        </div>
        <br><br> <div class="mt-5"><b>QR Code</b>(Optional)</div>
               <!-- Rounded switch -->
             <div class="form-check form-switch">
             <input class="form-check-input" type="checkbox" name="check_box" role="switch" id="flexSwitchCheckChecked" checked>
             <label class="form-check-label" for="flexSwitchCheckChecked">Generate a QR Code for this Link</label>
             </div><br>
        <button type="submit" class="btn btn-primary btn-block ">Shorten URL</button>
    </form>

</div>
<div>
    {% if shortened_url %}
    <div class="container containered mt-5">
        <div class="mb-3">
            <label for="shortUrl" class="form-label">Original URL:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="originalUrl" value="{{ original_url }}" readonly>
            </div>
            <label for="shortUrl" class="form-label">Short URL:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="shortUrl" value="{{ shortened_url }}" readonly>
                <button class="btn btn-outline-secondary" type="button" id="copyButton"
                onclick="copyToClipboard('{{ shortened_url }}')"
                >Copy</button>
            </div>
            {% if generate_qr_code %}
            <div class="d-flex mx-auto mt-4">
                <img
                      src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ shortened_url }}"
                      alt="QR Code" class="mx-auto"
                    />
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<div class="m-auto text-center mt-5 bg-success px-3 rounded" style="width: fit-content;">
    <a href="{{url_for('user_blp.display_urls')}}" class="text-center text-decoration-none text-white">
        Stats
    </a>
</div>
</section>
  </div>
</main>
<script>
    function copyToClipboard(text) {
        var input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);
        input.select();
        var result = document.execCommand('copy');
        document.body.removeChild(input);
        return result;
    }
</script>

{% endblock content %}