{% extends "base.html" %}
{% block title %}URL Shortener: Create and Customize Short URLs | Linktools{% endblock title %}
{% block description %}Create and customize short URLs, view analytics and clicks for free {% endblock %}
{% block keywords %}short url, shortener url, customise short url, free short url service, how to short a long url{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='url_shortener_info.css') }}">
  {% endblock head %}
{% block content %}

<div class="container-fluid bg-primary text-white text-center py-5">
    <h1>Welcome to URL Shortener</h1>
    <p class="lead">Shorten long URLs quickly and easily.</p>
    <form method="post" action="#" data-trigger="shorten-form" class="mt-3 mb-5 border rounded p-3">
		<div class="input-group input-group-lg align-items-center">
		<input type="text" class="form-control " placeholder="Paste a long url" name="url" id="url">
		<div class="input-group-append">
		<button class="btn btn-primary" type="submit">Shorten</button>
		</div>
		</div>
		</form>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Easy to Use</h2>
            <p class="text-center">Our platform allows you to shorten URLs with just one click. No technical skills required.</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Customizable</h2>
            <p class="text-center">Customize your short URLs to make them memorable and meaningful for your audience.</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Analytics</h2>
            <p class="text-center">Track the performance of your short URLs with detailed analytics and insights.</p>
        </div>
    </div>
</div>

{% endblock content %}