{%extends 'base2.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/urls.css') }}">

  {% endblock head %}


{% block content %}

<div class="container mt-5">

<main style="margin-top: 88px">
       <div class="row mb-4 ">

          <div class="container-fluid align-self-end mt-5">
               <h3><b>SHORTENED LINKS</b></h3>
               {% if urls %}
        <button type="button" class="btn">
      <i class="fa fa-calendar px-2 "></i>Filter by Date
        </button>

      </div>
      </div>
</main>
    <div class="container-fluid">

        {% for url in urls|reverse %}

            <div class="card " style="background-color:lavender;">
                <div class="row">
                    <div class="mt-5 h3"><strong> LINK TITLE</strong></div>

                 <div class="col-sm mt-5">
                     <div >
                    <p class="card-text"><strong><a href="{{ request.host_url }}{{ url.short_url }}" target="_blank">{{ request.host_url }}{{ url.short_url }}</a></strong></p>

                    <p class="card-text"><a href="{{ url.url }}" target="_blank">{{ url.url }}</a></p>
                         <div><p>
                        <i class="fa fa-bar-chart"></i>Click Data ({{ url.clicks }})
                        <i class="fa fa-calendar px-2 "></i> {{ url.created.strftime('%Y-%m-%d') }}
                         <i class="fa fa-copy px-2" id="" style="cursor: pointer;"></i> Copy
                         </p></div>

                     </div>
                     </div>
                <div class="col-sm mt-5 mb-5">

                        <img
                      src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ request.host_url }}{{ url.short_url }}"
                      alt="QR Code"/>



                </div>

                    </div>
                </div>
        <hr>

        {% endfor %}
        {% else %}
        <div class="card " style="background-color:lavender;">
                <div class="row">
                 <div class="col-sm mt-5">
                  <h2 class="text-center"><b>No shortened link Yet</b></h2>
                     <img src="{{ url_for('static', filename='spanner-man.jpg') }}" class="mx-auto d-block img-thumbnail"/>
                    </div>
                </div>

        {% endif %}
      </div>
</div>
</div>
{% endblock content %}