{%extends 'base2.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/urls.css') }}">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  {% endblock head %}

{% block car %}
<div class="container background-gray-10 " >
<main style="margin-top: 8px">
  <div class="container pt-4">
<div class="dashdiv">
     <div class="d-flex flex-row">
        <div class="p-2 text-center">

    </div>
    </div>
</div>
      </div>
</main>
    </div>
{% endblock car %}

{% block content %}

<div class="container mt-5">

<main style="margin-top: 88px">
       <div class="row mb-4 ">
          <div class="container-fluid align-self-end mt-2">

              <ul class="breadcrumb">
              <li><a href="#">Dashboard</a></li>
              <li>All links</li>
              </ul>

               <h3><b>ALL SHORTENED LINKS</b></h3>
              <a href="{{url_for('user_blp.shorten_url')}}"><button class="btn badge fw-normal shadow-none bg-success text-right me-3" style="font-size: 1.1rem;">
                Create New Link<i class="fa fa-plus px-2"></i> </button></a>

               {% if display %}
               <form action="" method="post" id="filter_form" class="d-none">
                <input type="text" id="datepicker_input" name="date">
               </form>
               <button class="btn badge fw-normal shadow-none bg-primary" id="datepicker-btn" style="font-size: 1.1rem;">
                <i class="fa fa-calendar px-2"></i>Filter by Date
                
            </button> <button class="{% if not refresh %} d-none {% endif %}"><i class="fas fa-times" id="close_btn"></i></button>
                
              {% endif %}

      </div>
      </div>
</main>
{% if urls %}
<div class="container-fluid">
    <div class="row w-100 g-4">
        {% for url in urls|reverse %}
        <div class="mb-4 col-lg-4 col-md-3">
            <div class="card p-3 position-relative rounded" style="background-color: white; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                <div class="">
                  {% if url.qr_data %}
                    <div class=" mt-5 mb-5 position-relative w-100">
                        <img src="data:image/png;base64,{{ url.qr_data }}" alt="QR Code" class="w-100 m-auto d-flex justify-content-center img-thumbnail"/>
                    </div>
                    {% endif %}
                    <div class="mt-2 position-absolute top-0 end-0 px-3">
                        <img height="20" width="20" src='http://www.google.com/s2/favicons?domain={{url.url}}' />
                    </div>
                    <div class="">
                        <p class="h6 mt-5"><strong> {{url.title}} </strong></p>
                        <p class=""><strong>Short <a href="{{ request.host_url }}{{ url.short_url }}" target="_blank"> {{ request.host_url }}{{ url.short_url }}</a></strong></p>
                        <p class=""><strong>Original</strong> <a href="{{ url.url }}" target="_blank"> {{ url.url }}</a></p>
                        <div class="mb-5">
                            <small>
                                <i class="bi bi-bar-chart-fill"></i>Click Data ({{ url.clicks }})
                                <i class="bi bi-calendar px-2 "></i> {{ url.created.strftime('%b %d, %Y') }}
                            </small>
                        </div>
                    </div>
                    <!-- {% if url.qr_data %}
                    <div class=" mt-5 mb-5 position-relative w-100">
                        <img height="200" width="200" src="data:image/png;base64,{{ url.qr_data }}" alt="QR Code" class="m-auto d-flex justify-content-center"/>
                    </div>
                    {% endif %} -->
                    <div class=" mt-5 mb-2">
                       <button><i class="fa fa-copy px-0" id="" style="cursor: pointer;"></i> Copy</button>
                           <button> <i class="fas fa-share px-0" style="cursor: pointer;"></i> Share</button>
                        <button> <i class="bi bi-pencil-square px-0" style="cursor: pointer;"></i></button>
                        <button class="text-danger"><a href="/urls/delete/{{url.id}}" onclick="return confirmDelete()" class="">
                                  <i class="bi bi-trash px-0"></i>
                              </a>
                        </button>


                    </div>
                    <div class="mb-5">
                       <button> <a href="{{url_for('user_blp.short_url_details', url_id=url.id)}}" class="text-decoration-none"><i class="fa-solid fa-chart-pie"></i> Analytics</a></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="card" style="background-color: lavender;">
    <div class="row">
        <div class="col-sm mt-5">
            <h2 class="text-center"><b>No shortened link</b></h2>
            <img src="{{ url_for('static', filename='spanner-man.jpg') }}" class="mx-auto d-block img-thumbnail"/>
        </div>
    </div>
</div>
{% endif %}

      </div>
</div>
</div>

<script>
    function confirmDelete() {
      return confirm('Are you sure you want to delete this Link?');
    }


  close_btn = document.getElementById('close_btn');
  close_btn.addEventListener('click', function () {
    window.location.href = '/stats/urls';
  })

  document.addEventListener('DOMContentLoaded', function () {
      // Initialize Bootstrap datepicker
      $('#datepicker-btn').datepicker({
          autoclose: true,
          format: 'yyyy-mm-dd'
      }).on('changeDate', function (e) {
          // Get the selected date value
          var selectedDate = e.format('yyyy-mm-dd');
          console.log('Selected Date:', selectedDate);
          document.querySelector('#datepicker_input').value = selectedDate;
          document.querySelector('#filter_form').submit();
      });
  });
</script>
{% endblock content %}